{% extends "layout.html" %}

{% set ptitle = "Taxpayer's details" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Enter details for the taxpayer involved in the case.</p>

      <form class="js_route" action="outcome">

        <div class="form-group js-hidden" data-dependent="appellant_type=individual">
          <label class="form-label" for="appellant_name">First name</label>
          <input class="form-control" type="text" id="appellant_first_name" data-store>
        </div>
        <div class="form-group js-hidden" data-dependent="appellant_type=individual">
          <label class="form-label" for="appellant_name">Last name</label>
          <input class="form-control" type="text" id="appellant_last_name" data-store>
        </div>

        <div class="form-group js-hidden" data-dependent="appellant_type=company">
          <label class="form-label" for="appellant_company_name">Company name</label>
          <input class="form-control" type="text" id="appellant_company_name" data-store>
        </div>

        <div class="form-group js-hidden" data-dependent="appellant_type=organisation">
          <label class="form-label" for="appellant_organisation_name">Organisation name</label>
          <input class="form-control" type="text" id="appellant_organisation_name" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_address">
            Address
          </label>
          <textarea class="form-control" id="appellant_address" rows="4" cols="40" data-store></textarea>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_postcode">
            Postcode
          </label>
          <input class="form-control" id="appellant_postcode" data-store>
        </div>

        <div class="form-group js-hidden" data-dependent="appellant_type=company">
          <label class="form-label" for="appellant_company_number">
            Company registered number (optional)
          </label>
          <input class="form-control" type="text" id="appellant_company_number" data-store>
        </div>

        <div class="form-group js-hidden" data-dependent="appellant_type=company,organisation">
          <label class="form-label" for="appellant_contact_name">
            Contact name (optional)
          </label>
          <input class="form-control" type="text" id="appellant_contact_name" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_email">
            <span class="js-hidden" data-dependent="appellant_type=individual">Email address (optional)</span>
            <span class="js-hidden" data-dependent="appellant_type=company,organisation">Contact email address (optional)</span>
          </label>
          <input class="form-control" type="text" id="appellant_email" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_phone">
            <span class="js-hidden" data-dependent="appellant_type=individual">Phone number (optional)</span>
            <span class="js-hidden" data-dependent="appellant_type=company,organisation">Contact phone number (optional)</span>
          </label>
          <input class="form-control" type="text" id="appellant_phone" data-store>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


