{% extends "layout.html" %}

{% set ptitle = "Appellant details" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Lorem ipsum</p>

      <form class="js_route" action="representation">
        <div class="form-group">
          <fieldset>
            <legend>Appellant type</legend>
            <label class="block-label">
              <input name="appellant_type" type="radio" value="individual" data-store="appellant_type=individual" />
              Individual
            </label>

            <label class="block-label" data-target="company-details">
              <input name="appellant_type" type="radio" value="company" data-store="appellant_type=company" />
              Company
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_name">
            Name
          </label>
          <input class="form-control" type="text" id="appellant_name" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_address">
            Address
          </label>
          <textarea class="form-control" id="appellant_address" rows="4" cols="40" data-store></textarea>
        </div>

        <div class="form-group js-hidden" id="company-details">
          <label class="form-label" for="appellant_company_number">
            Company registered number
          </label>
          <input class="form-control" type="text" id="appellant_company_number" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_phone">
            Phone number
          </label>
          <input class="form-control" type="text" id="appellant_phone" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="appellant_email">
            Email address
          </label>
          <input class="form-control" type="text" id="appellant_email" data-store>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


