{% extends "layout.html" %}

{% set ptitle = "Who is your appeal for?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 6 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>


      <form class="js_route" action="appellant_details">
        <div class="form-group">
          <fieldset>
            <label class="block-label">
              <input name="appellant_type" type="radio" value="individual" data-store="appellant_type=individual" />
              <strong>Individual</strong>
            </label>

            <label class="block-label">
              <input name="appellant_type" type="radio" value="company" data-store="appellant_type=company" />
              <strong>Company</strong><br>
            </label>
            
            <label class="block-label">
              <input name="appellant_type" type="radio" value="organisation" data-store="appellant_type=organisation" />
              <strong>Other type of organisation</strong><br>
              for example partnership (LLP), trust, club or association
            </label>
          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


