{% extends "layout.html" %}

{% set ptitle = "Check answers" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script src="/public/javascripts/modules/data-capture-summary.js"></script>
  <script>
    moj.Modules.dataCaptureSummary.init();

    if(moj.Modules.dataStore.getItem('fees').toLowerCase() === 'no') {
      $('#confirm-answers').attr('href', '/no_fees/confirmation');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 12 of 16</p>
  <h1 class="heading-large">{{ ptitle }}</h1>

  <table class="check-your-answers">

    <tbody>
      <tr>
        <th colspan="3"><h2 class="heading-medium"><span class="js-hidden" data-dependent="application_type=appeal">Appeal</span><span class="js-hidden" data-dependent="application_type=closure">Application</span> type <span data-dependent="fees=yes">and cost</span></h2></th>
      </tr>
      <tr class="js-hidden" data-dependent="application_type=appeal">
        <th>Did you challenge the original decision?</th>
        <td><span data-key="hmrc_challenge" class="js_uc_first">Yes</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr class="js_fee-determination-details">
        <td>What is your appeal about?</td>
        <td>Income tax</td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr class="js-hidden" data-dependent="penalty_amount">
        <th>What is the penalty or surcharge amount?</th>
        <td>£<span data-key="penalty_amount" class="js_uc_first">500</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr class="js-hidden" data-dependent="tax_amount">
        <th>What is the amount of tax?</th>
        <td>£<span data-key="tax_amount" class="js_uc_first">5000</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr data-dependent="fees=yes">
        <th>Initial <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure">application</span> fee</th>
        <td>£<span data-key="fee">50</span></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <tbody id="appeal_timeliness_section" class="js-hidden">
      <tr>
        <th colspan="3"><h2 class="heading-medium">Appeal deadline</h2></th>
      </tr>
      <tr id="application_is_late_row" class="js-hidden">
        <th>Is the appeal late?</th>
        <td><span data-key="application_is_late" class="js_uc_first">Yes</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr id="reasons_for_late_application_row" class="js-hidden">
        <th>Reason(s) for late appeal</th>
        <td><span data-key="lateness_reason" class="js_uc_first">Yes</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
    </tbody>

    <tbody id="closure_section" class="js-hidden">
      <tr>
        <th colspan="3"><h2 class="heading-medium">Enquiry details</h2></th>
      </tr>
      <tr>
        <th>HMRC reference number</th>
        <td><span data-key="closure_reference_number">TX1138-TK421</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr>
        <th>HMRC officer conducting enquiry</th>
        <td><span data-key="closure_hmrc_officer">Reg N. Quiry</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
      <tr>
        <th>Years or accounts of returns under enquiry</th>
        <td><span data-key="years_under_enquiry">2012-2013</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3"><h2 class="heading-medium"><span class="js-hidden" data-dependent="application_type=appeal">Appeal</span><span class="js-hidden" data-dependent="application_type=closure">Application</span> details</h2></th>
      </tr>
      <tr>
        <th>Taxpayer's details</th>
        <td>
          <div id="appellant_name" class="js-hidden"><span data-key="appellant_first_name">Terry</span> <span data-key="appellant_last_name">Example</span></div>
          <div id="appellant_company_name" data-key="appellant_company_name" class="js-hidden">Terry's Cabs</div>
          <div id="appellant_organisation_name" data-key="appellant_organisation_name" class="js-hidden">TerryOrg</div>
          <div data-key="appellant_address" class="js_breaklines">1 Test Road<br>Teston</div>
          <div data-key="appellant_postcode">TE37 1NG</div>
          <div>
            Tel: <span data-key="appellant_phone">01234 567890</span>
          </div>
          <div id="appellant_email">
            Email: <span data-key="appellant_email">test@example.com</span>
          </div>
        </td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>

      <tr id="representative_details_row" class="js-hidden">
        <th>Representative's details</th>
        <td>
          <div id="representative_name" class="js-hidden"><span data-key="representative_first_name">Joe</span> <span data-key="representative_last_name">Rep</span></div>
          <div id="representative_company_name" data-key="representative_company_name" class="js-hidden">ABC Solicitors</div>
          <div id="representative_organisation_name" data-key="representative_organisation_name" class="js-hidden">RepOrg</div>
          <div data-key="representative_address" class="js_breaklines">7 High Street<br>Teston</div>
          <div data-key="representative_postcode">TE55 3RS</div>
          <div>
            Tel: <span data-key="representative_phone">07777 888999</span>
          </div>
          <div>
            Email: <span data-key="representative_email">abc@example.com</span>
          </div>
        </td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>

      <tr id="hardship_reasons_row" class="js-hidden">
        <th>Reasons for hardship application</th>
        <td><span data-key="hmrc_reasons_to_allow_hardship">I was unable to work for three months</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>

      <tr id="grounds_row">
        <th>Grounds for appeal</th>
        <td><span data-key="grounds_for_appeal">No text entered</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>

      <tr id="outcome_row">
        <th>Desired outcome</th>
        <td><span data-key="desired_outcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ultricies nisi, in cursus nibh. Cras iaculis malesuada consectetur. Mauris ut venenatis massa. Ut imperdiet feugiat tempus. Nunc ac molestie enim, at ullamcorper quam.</span></td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>

      <tr id="documents_row">
        <th>Documents submitted</th>
        <td>
          <ul class="list-bullet uploaded-docs">
            <li>Original notice letter - 01/08/2016</li>
            <li>Review conclusion letter - 13/10/2016</li>
          </ul>
        </td>
        <td class="change-answer"><a href="#" data-alert="This functionality is not currently available in this demo">Change</a></td>
      </tr>

    </tbody>

  </table>

  <h2 class="heading-medium">Declaration and statement of truth</h2>

  <p>By completing this <span class="js-hidden" data-dependent="application_type=appeal">Notice of Appeal</span><span class="js-hidden" data-dependent="application_type=closure">Application to Close an Enquiry</span> and clicking the ‘Submit and continue’ button, I believe the information I have given in this form is true to the best of my knowledge. If I am found to have been deliberately untruthful or dishonest, criminal proceedings for fraud can be brought against me. I understand that if I have given false information or I do not provide further evidence if requested, my <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure">application</span> may be rejected<span data-dependent="fees=yes"> and any tax tribunal fees will not be refunded</span>.</p>

      <p class="notice util_mt-large">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          Once you click 'Submit and continue', you cannot change your answers
        </strong>
      </p>
  <p>
    <a id="confirm-answers" class="button" href="/payment_tool/case_to_pay">Submit and continue</a>
  </p>

</main>

{% endblock %}
