{% extends "layout.html" %}

{% set ptitle = "Closure - other information" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">If you want, you can add further information to say why you think HMRC should close their enquiry or provide important information that the tribunal should know.</p>

      <form class="js_route" action="documents">

        <div class="form-group">
          <label class="form-label" for="closure_period">
            Add any other relevant information (optional)
          </label>
          <textarea class="form-control form-control-3-4" id="closure_other_information" rows="4" cols="40" data-store></textarea>
        </div>

        <p class="actions">
          <input class="button" type="submit" value="Continue">
          <a class="save-link" href="#">Save and come back later</a>
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


