{% extends "layout.html" %}

{% set ptitle = "Is the application to close an enquiry?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Lorem ipsum</p>

        <form class="js_route" action="grounds_for_appeal">
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden">{{ ptitle }}</legend>
              <label class="block-label">
                <input name="close_an_enquiry" type="radio" value="yes" data-store="close_an_enquiry=yes" data-destination="closure_details" />
                Yes
              </label>

              <label class="block-label">
                <input name="close_an_enquiry" type="radio" value="no" data-store="close_an_enquiry=no" />
                No
              </label>
            </fieldset>
          </div>

          <p class="actions">
            <input class="button" type="submit" value="Continue">
            <a class="save-link" href="#">Save and come back later</a>
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}


