{% extends "layout.html" %}

{% set ptitle = "Closure period" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Period within which the issue of a closure notice is sought</p>

      <form class="js_route" action="closure_other">

        <div class="form-group">
          <label class="form-label" for="closure_period">
            Please use this box to say within what period the issue of a closure notice is being requested
          </label>
          <textarea class="form-control form-control-3-4" id="closure_period" rows="4" cols="40" data-store></textarea>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


