{% extends "layout.html" %}

{% block page_title %}
  Tax tribunal lodgement fee - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('tc_number', 'TC/2016/123456');
    if(moj.Modules.dataStore.getItem('mode') === 'task_list') {
      moj.Modules.dataStore.storeItem('task_enter_details', 'complete');
      $('a.js-next').text('Continue');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step X of Y</p>

  <div class="govuk-box-highlight">
    <h2 class="bold-large">Please write down your tax reference number</h2>
    <br>
    <h2>Your reference is:
      <span class="display-block fee-display">
        <span class="write-value" data-key="tc_number">TC/2016/123456</span>
      </span>
    </h2>
 </div>

  <h1 class="heading-large">You will need to pay to submit your appeal</h1>

  <p>Your appeal details have now been saved. You will now have to pay your fee of <strong>£<span data-key="fee">20</span></strong>.</p>
  <p>
  Once your initial payment has been received, the tribunal will process your appeal so it can continue to the next stage.
  <p>
    <a class="button js-next" href="/payment_tool/case_to_pay">Continue to payment</a>
  </p>

</main>

{% endblock %}
