{% extends "layout.html" %}

{% block page_title %}
  Tax tribunal lodgement fee - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('tc_number', 'TC/2016/123456');
    if(moj.Modules.dataStore.getItem('mode') === 'task_list') {
      moj.Modules.dataStore.storeItem('task_enter_details', 'complete');
      $('a.js-next').text('Continue');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step X of Y</p>

  <div class="govuk-box-highlight">
    <h2 class="bold-large">Your appeal has been submitted to the tax tribunal.</h2>
    <br>
    <h2>Your reference is:
      <span class="display-block fee-display">
        <span class="write-value">TC/2016/123456</span>
      </span>
    </h2>
 </div>

  <h1 class="heading-large">What to do next</h1>

  <p>Your appeal is now submitted to the tribunal. You can now pay your fee of £<span data-key="fee">20</span> by using the GOV.UK Pay service.</p>

  <p>
    <a class="button js-next" href="/payment_tool/case_to_pay">Continue to payment</a>
  </p>

  <details>
    <summary>Help with types of appeal</summary>
    <div class="panel">
      <p>You can only choose one reason per appeal. For example if you wanted to appeal against both a penalty and the amount you owe, you will need to make two separate appeals to the tax tribunal.</p>
    </div>
  </details>

</main>

{% endblock %}
