{% extends "layout.html" %}

{% set ptitle = "Do you have someone to represent you?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 1 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">A representative can receive correspondence on your behalf or represent you if you need a hearing.</p>

        <form class="js_route" action="grounds_for_appeal">
          <div class="form-group">
            <fieldset data-required data-error="Please select an answer">
              <legend class="visuallyhidden">{{ ptitle }}</legend>

              <label class="block-label">
                <input name="appellant_has_representation" type="radio" value="no" data-store="appellant_has_representation=no" />
                No
              </label>

              <label class="block-label">
                <input name="appellant_has_representation" type="radio" value="yes" data-store="appellant_has_representation=yes" data-destination="representative_professional" />
                Yes
              </label>

            </fieldset>
          </div>

          <p class="actions">
            <input class="button" type="submit" value="Continue">
            <a class="save-link" href="#">Save and come back later</a>
          </p>

        </form>

        <details>
          <summary>What is a representative and what can they do?</summary>
          <div class="panel">
            <p>A representative is someone who can act on your behalf when dealing with the tax tribunal.</p>
            <p>You may want to use one if you need help or advice, or need assistance submitting an appeal or application.</p>
            <p>A representative could be a lawyer, tax adviser or accountant. It could also be a friend or family relative who you approve to act on your behalf.</p>
            <p>If a representative is not a certified legal professional they will need to be authorised by the taxpayer to act on their behalf to handle any matters related to an appeal or application.</p>
            <p>An authorised representative will be able to receive any correspondence from the tax tribunal and can represent the taxpayer at a hearing with the judge.</p>
          </div>
        </details>

      </div>

    </div>
  </div>
</main>

{% endblock %}


