{% extends "layout.html" %}

{% set ptitle = "Document checklist" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 11 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">For your case to proceed without delay you need to make sure you upload the correct documents. We can accept scanned images or good quality pictures, for example via a smartphone.</p>

      <form class="js_route" action="check_answers">

        <p><strong>You will need:</strong></p>
        <ul class="list list-bullet">
          <li>The original notice letter from HMRC including the explanation for any decision(s)</li>
          <li>The review conclusion letter from HMRC (if your case was reviewed)</li>
          <li>Any hardship decision by HMRC or letter to HMRC applying for hardship (if applicable)</li>
        </ul>
        <p><strong>You can also add the following to help your case:</strong></p>
        <ul class="list list-bullet">
          <li>A copy of any letter sent to HMRC querying the decision or asking for a review</li>
          <li>Any evidence to support your case
          <li>Approval for your representative to act on your behalf</li>
        </ul>

        <div class="form-group">
          <input class="button" type="button" value="Upload documents" >
        </div>

        <label class="block-label">
          <input name="tax_type" type="checkbox" value="vat" data-store="tax_type=vat,direct=false" />
          I am unable to upload my documents
        </label>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


