{% extends "layout.html" %}

{% set ptitle = "Grounds for appeal" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 10 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Tell us why you think HMRC’s decision(s) is wrong, giving reasons. If you are appealing against more than one decision, you must explain why you think each one is wrong.</p>
      <p>
      Clearly explain in your own words. The tribunal will want to know things from your side and understand how any documents you provide support your case.
      </p>

      <form class="js_route" action="documents">

        <div class="form-group">
          <label class="form-label" for="grounds_for_appeal">
            Use the input box below or attach a document (for example, word, PDF).
          </label>

          <textarea class="form-control form-control-3-4 form-control-large" id="grounds_for_appeal" rows="4" cols="40" data-store></textarea>
        </div>
          <div class="form-group">
            <input class="button secondary" type="button" value="Attach a document" ></li>
          </div>

          <p>You will next have to upload any supporting documents including your correspondence with HMRC.</p>
        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


