{% extends "layout.html" %}

{% set ptitle = "Grounds for appeal" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 10 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Tell us why you think the decision(s) is wrong, giving reasons for each decision you dispute.
    
      Clearly explain in your own words. The judge will want to know things from your side.
      </p>

      <form class="js_route" action="documents">

        <div class="form-group">
          <label class="form-label" for="grounds_for_appeal">
            Enter reasons below or attach as a document
          </label>

          <textarea class="form-control form-control-3-4 form-control-large" id="grounds_for_appeal" rows="4" cols="40" data-store></textarea>
        </div>
        <p><strong>Attach reasons as a document</strong></p>
        <div class="form-group">
          <input type="file" id="file_grounds_for_appeal" name="file_grounds_for_appeal" data-store>
        </div>
        <details>
        <summary>File upload requirements</summary>
        <div class="panel">
          <ul class="list list-bullet">
                    <li>File formats: Word, PDF, Excel, JPG, GIF, PNG</li>
                    <li>File size: up to 20 megabytes (MB)</li>
                    <li>Scan documents in black and white
                    <li>Files cannot be password protected</li>
                    </ul>
                    <p>You can’t upload executable (.exe) and other zip, archive or compressed files due to virus risks.</p>
        </div>
        </details>
        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


