{% extends "layout.html" %}

{% set ptitle = "Is the appeal about indirect tax?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('direct') === 'true') {
      moj.Modules.dataStore.storeItem('concerns_indirect_tax', 'no');
      document.location = 'grounds_for_appeal';
    } else if(moj.Modules.dataStore.getItem('direct') === 'false') {
      moj.Modules.dataStore.storeItem('concerns_indirect_tax', 'yes');
      document.location = 'hardship';
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Lorem ipsum</p>

        <form class="js_route" action="grounds_for_appeal">
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden">{{ ptitle }}</legend>
              <label class="block-label">
                <input name="concerns_indirect_tax" type="radio" value="yes" data-store="concerns_indirect_tax=yes" data-destination="hardship" />
                Yes
              </label>

              <label class="block-label">
                <input name="concerns_indirect_tax" type="radio" value="no" data-store="concerns_indirect_tax=no" />
                No
              </label>
            </fieldset>
          </div>

          <p>
            <input class="button" type="submit" value="Continue">
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}


