{% extends "layout.html" %}

{% set ptitle = "Request permission for late application" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Lorem ipsum</p>

        <form class="js_route" action="indirect">

          <div class="form-group">
            <label class="form-label" for="lateness_date">
              Date
            </label>
            <p class="form-hint">Date format DD/MM/YYYY</p>
            <input class="form-control" type="text" id="lateness_date" data-store>
          </div>

          <div class="form-group">
            <label class="form-label" for="lateness_reason">
              Reason
            </label>
            <textarea class="form-control" id="lateness_reason" rows="4" cols="40" data-store></textarea>
          </div>

          <p>
            <input class="button" type="submit" value="Continue">
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}


