{% extends "layout.html" %}

{% set ptitle = "What outcome do you want from your appeal?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('close_an_enquiry') === 'yes' || moj.Modules.dataStore.getItem('dispute_type') === 'closure') {
      $('form').attr('action', 'closure_details');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Give a summary of the decisions you think should be made in regards to your appeal.</p>

      <form class="js_route" action="grounds_for_appeal">

        <div class="form-group">
          <label class="form-label" for="desired_outcome">
            
          </label>
          <textarea class="form-control form-control-3-4" id="desired_outcome" rows="6 cols="40" data-store></textarea>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


