{% extends "layout.html" %}

{% set ptitle = "What outcome do you want from your appeal?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('close_an_enquiry') === 'yes' || moj.Modules.dataStore.getItem('dispute_type') === 'closure') {
      $('form').attr('action', 'closure_details');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 10 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Give a summary of the decisions you think should be made in regards to your appeal. Write no more than 2-3 sentences which clearly outline the result you want.</p>

      <form class="js_route" action="documents">

        <div class="form-group">

          <fieldset data-required data-error="Cannot be blank">
            <legend class="visuallyhidden">Grounds for appeal</legend>
            <label class="form-label visuallyhidden" for="desired_outcome">Grounds for appeal</label>
            <textarea class="form-control form-control-3-4" id="desired_outcome" rows="6" cols="40" data-store></textarea>
          </fieldset>

        </div>

        <p class="actions">
          <input class="button" type="submit" value="Continue">
          <a class="save-link" href="#">Save and come back later</a>
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


