{% extends "layout.html" %}

{% set ptitle = "Is the representative an individual or company?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Select whether the representative is an individual or a company.</p>

      <form class="js_route" action="representative_details">
        <div class="form-group">
          <fieldset>
            <label class="block-label">
              <input name="representative_type" type="radio" value="individual" data-store="representative_type=individual" />
              Individual
            </label>

            <label class="block-label">
              <input name="representative_type" type="radio" value="company" data-store="representative_type=company" />
              Company
            </label>
          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


