{% extends "layout.html" %}

{% set ptitle = "Provide approval from the taxpayer (optional)" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 3 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You can continue your <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure"> application</span> but you will need approval from the taxpayer if you want to receive correspondence or act at a hearing.</p>

        <details>
          <summary>How to get approval from the taxpayer</summary>
          <div class="panel">
            <p>Copy and paste the text below into an email or download as a PDF to send to the taxpayer.</p>

            <p>If you are acting on behalf of a company you will need approval from a company director.</p>

            <h2 class="heading-medium">Example letter</h2>
            <div class="panel">
              <div class="letter">
                <p>Taxpayer's name:</p>
                <p>I authorise my representative to act on my behalf in this <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure"> application</span>.</p>
                <p>Name of representative:</p>
                <p>Address of representative:</p>
                <p>Signed by taxpayer:</p>
                <p>Name of signatory (printed):</p>
                <p>Position held:</p>
                <p>Date:</p>
              </div>
            </div>

            <button class="button">Download PDF</button>
          </div>
        </details>

      <form class="js_route" action="representative_type">

        <h2 class="heading-medium">Upload taxpayer approval</h2>
        <p>We accept scanned images or good quality pictures, for example via a smartphone. You can upload PDF, JPG, GIF or PNG formats. Maximum file size of 20MB.</p>
        <input type="file" id="file_rep_pro_forma" name="file_rep_pro_forma" data-store>
        
        <p class="lede">&nbsp</p>

        <p class="form-group">
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>

          <div class="column-one-third">
       <p class="lede">&nbsp</p>
       <p class="lede">&nbsp</p>
      <h2 class="heading-small">Need help using the online service?</h2>
        <nav role="navigation" class="font-xsmall">
              <p><a href="#" data-alert="This feature is not available in this demo">Contact us</a></p>
        </nav>

    </div>
  </div>
</main>

{% endblock %}


