{% extends "layout.html" %}

{% set ptitle = "Representative's details" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 5 of 16</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">If you are authorised to act on behalf of the taxpayer all correspondence will be sent to the address, or email address, you enter below.</p>

      <form class="js_route" action="appellant_type">

        <div class="form-group">
          <label class="form-label" for="representative_name">
            <span class="js-hidden" data-dependent="representative_type=individual">First name</span>
            <span class="js-hidden" data-dependent="representative_type=company">Company name</span>
             <span class="js-hidden" data-dependent="representative_type=organisation">Organisation name</span>
          </label>
          <input class="form-control" type="text" id="representative_name" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="representative_name">
            <span class="js-hidden" data-dependent="representative_type=individual">Last name</span>
          </label>
          <span class="js-hidden" data-dependent="representative_type=individual"><input class="form-control" type="text" id="representative_name" data-store></span>
        </div>

        <div class="form-group">
          <label class="form-label" for="representative_address">
            Address
          </label>
          <textarea class="form-control" id="representative_address" rows="4" cols="40" data-store></textarea>
        </div>

        <div class="form-group">
          <label class="form-label" for="representative_address">
            Postcode
          </label>
          <input class="form-control" id="representative_address" data-store>
        </div>

        <div class="form-group js-hidden" data-dependent="representative_type=company">
          <label class="form-label" for="representative_company_number">
            Company registered number (optional)
          </label>
          <input class="form-control" type="text" id="representative_company_number" data-store>
        </div>

        <div class="form-group js-hidden" data-dependent="representative_type=company">
          <label class="form-label" for="representative_contact_name">
            Contact name (optional)
          </label>
          <input class="form-control" type="text" id="representative_contact_name" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="representative_email">
            <span class="js-hidden" data-dependent="representative_type=individual">Email address (optional)</span>
            <span class="js-hidden" data-dependent="representative_type=company">Contact email address (optional)</span>
          </label>
          <input class="form-control" type="text" id="representative_email" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="representative_phone">
            <span class="js-hidden" data-dependent="representative_type=individual">Phone number (optional)</span>
            <span class="js-hidden" data-dependent="representative_type=company">Contact phone number (optional)</span>
          </label>
          <input class="form-control" type="text" id="representative_phone" data-store>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


