{% extends "layout.html" %}

{% set ptitle = "Representative status" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 2 of 16</p>
      <h1 class="heading-large">
        <span class="js-hidden" data-dependent="who_are_you=representative">Are you</span><span class="js-hidden" data-dependent="who_are_you=taxpayer">Is your representative</span> a practising solicitor or barrister in England, Wales or Northern Ireland, or a practicising solicitor or advocate in Scotland?</h1>
      <form class="js_route" action="representative_type">
        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">{{ ptitle }}</legend>
            <label class="block-label">
              <input name="representative_is_legal_professional" type="radio" value="yes" data-store="representative_is_legal_professional=yes" />
              Yes
            </label>

            <label class="block-label">
              <input name="representative_is_legal_professional" type="radio" value="no" data-store="representative_is_legal_professional=no" data-destination="representative_approval" />
              No
            </label>
          </fieldset>
        </div>

        <p class="actions">
          <input class="button" type="submit" value="Continue">
          <a class="save-link" href="#">Save and come back later</a>
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


