{% extends "layout.html" %}

{% set ptitle = "3. Enter appeal details and pay fee" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You will need to include grounds for your appeal and upload a scan or photo of the letters from HMRC.</p>
      <p>
      <strong>What to get ready before you start</strong></p>
                <ul class="list list-bullet">
                  <li><strong>digital copies of the decision letter(s)</strong> - scan or take a photo of the original notice letter (or review conclusion letter if you had a review)</li>
                  <li><strong>reasons why you're appealing</strong> - write out your grounds of appeal so they are ready to copy and paste or upload as a document</li>
                  <li><strong>a way to pay your initial tribunal fee</strong> - you can pay by debit/credit online or check first if you can get <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a> if you're on a low income or certain benefits</li>
                  <li><strong>approval to act for someone else</strong> - you will need <a href="https://drive.google.com/open?id=0B-4PgEZDV9SBczhkbGNDanJEa28">authorisation from the taxpayer (PDF, 58KB)</a> to receive correspondence or act as their representative</li>
                  <li><strong>other supporting documents</strong> - upload digital copies of documents to support your case including your hardship application if applicable</li>
                </ul>
      <p class="notice util_mt-large">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          You can't save details as you go. Please get everything ready before you start.
        </strong>
      </p>
      <p>
        <a class="button button-start js-start-task" href="who_are_you" data-dependent-tasks="[1,2]" data-disable-message="Please complete steps 1 and 2 first">Start now</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}


