{% extends "layout.html" %}

{% set ptitle = "3. Enter appeal details and pay fee" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You will need to include grounds for your appeal and upload a scan or photo of the letters from HMRC.</p>
      <p>
      <strong>What to get ready before you start</strong></p>
                <ul class="list list-bullet">
                  <li>a scan or photo of the original notice letter or review conclusion letter from HMRC ready to upload</li>
                  <li>write down the reasons why you disagree with the decision(s) by HMRC so you can copy and paste the text or attach as a document</li>
                  <li>if you're completing this as a representative and you're not a legal professional, you'll need an email or scan of a letter from your client saying they can act on your behalf</li>
                  <li>a debit or credit card to pay the initial tribunal fee unless you're eligible for <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a></li>
                </ul>
      <p class="notice util_mt-large">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          You can't save details as you go. Please get everything ready before you start.
        </strong>
      </p>
      <p>
        <a class="button button-start js-start-task" href="who_are_you" data-dependent-tasks="[1,2]" data-disable-message="Please complete steps 1 and 2 first">Start now</a>
      </p>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Courts, sentencing and tribunals</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
              <li><a href="https://www.gov.uk/court-fees-what-they-are">Court and tribunal fees</a></li>
              <li><a href="https://www.gov.uk/tax-tribunal">Appeal to a tax tribunal</a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
            <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}


