{% extends "layout.html" %}

{% set ptitle = "Enter appeal details and pay fee" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    var feeDetermined = moj.Modules.dataStore.getItem('task_determine_fee'),
        checkLateness = moj.Modules.dataStore.getItem('task_check_if_late');

    if(feeDetermined !== 'complete' || checkLateness !== 'complete') {
      var $button = $('a.button-start').eq(0);

      $button.addClass('disabled').on('click', function(e) {
        e.preventDefault();
      }).before('<p class="disable-message">' + $button.data('disable-message') + '</p><p><a class="link-back js-link-back" href="">Back</a></p>');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You will need to include grounds for your appeal and upload a scan or photo of the letters from HMRC.</p>
      <p>You will need to provide:</p>
                <ul class="list list-bullet">
                  <li>a scan or photo of the original decision letter or review conclusion letter from HMRC</li>
                  <li>HMRC reference number shown on the letters</li>
                  <li>details of your representative if you have one</li>
                  <li>a National Insurance number or VAT registration number depending on your type of appeal</li>
                </ul>

      <p>
        <a class="button button-start" href="appellant_details" data-disable-message="Please complete steps 1 and 2 first">Start now</a>
      </p>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Courts, sentencing and tribunals</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
              <li><a href="https://www.gov.uk/court-fees-what-they-are">Court and tribunal fees</a></li>
              <li><a href="https://www.gov.uk/tax-tribunal">Appeal to a tax tribunal</a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
            <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}


