{% extends "layout_guidance.html" %}

{% block page_title %}
  Design pattern: task lists
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Overview
      <br></span>Become a childminder
      </h1>

    </div>
  </div>

  <!-- Train to be a childminder -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Check you can be a childminder</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Check elgibilty</a></p>
      <p><a href="#">Read rules</a></p>
      <p><a href="#">Check criminal history</a></p>
      <p><a href="#">Get health check</a></p>
    </div>

  </div>

  <br>
  
  <!-- Train to be a childminder -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Train to be a childminder</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Contact your local council</a></p>
      <p><a href="#">Book childminder training</a></p>
      <p><a href="#">Book first aide training</a></p>
    </div>

  </div>

  <br>

  <!-- Get references -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Get references</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Read who can be a referee</a></p>
    </div>

  </div>

  <br>

  <!-- Apply to Ofsted -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Apply to Oftsted</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Complete Ofsted application</a></p>
      <p><a href="#">Pay registration fee</a></p>
    </div>

  </div>

  <br>

  <!-- prepare for inspections -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Prepare for inspection</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Read inspection guidance</a></p>
      <p><a href="#">Find an Ofsted inspection report</a></p>
    </div>

  </div>

  <br>

  <!-- get insured -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Get insured</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Get Public liability insurance</a></p>
      <p><a href="#">Get Employer's Liability Insurance</a></p>
    </div>

  </div>  

  <br>

  <!-- pay tax -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">Pay tax</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Register as self employed</a></p>
      <p><a href="#">Register a Limited Company</a></p>
      <p><a href="#">Do self assessment tax return</a></p>
      <p><a href="#">Do company tax return</a></p>
    </div>

  </div>

  <br>
  
  <!-- after you register -->
  <div class="grid-row">

    <div class="column-one-third">
      <p class="task-heading">After you register</p>
    </div>

    <div class="column-two-thirds">
      <p><a href="#">Pay annual fee</a></p>
      <p><a href="#">Join criminal check update service</a></p>
      <p><a href="#">Prepare for regular inspections</a></p>
    </div>

  </div>  

</main>

{% endblock %}


