{% extends "layout.html" %}

{% set ptitle = "What has happened since you challenged the original decision?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step x of y</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <form class="js_route js_store_answers" action="/before_you_start/dispute_type">

        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">{{ ptitle }}</legend>
            <label class="block-label">
              <input name="challenge_status" type="radio" value="Concluded" data-store="challenge_status=concluded" />
              <strong>Review completed</strong><br>
              I have received a review conclusion letter
            </label>

            <label class="block-label">
              <input name="challenge_status" type="radio" value="Pending" data-destination="wait" data-store="challenge_status=pending" />
              <strong>Review in progress</strong><br>
              I asked for or accepted the offer of a review 
            </label>

            <div data-dependent="direct=true"><label class="block-label">
              <input name="challenge_status" type="radio" value="Overdue" data-store="challenge_status=overdue" />
              <strong>Review declined</strong><br>
              I was offered a review but did not accept the offer
            </label>
            </div>

            <label class="block-label">
              <input name="challenge_status" type="radio" value="Overdue" data-store="challenge_status=overdue" />
              <strong>Nothing</strong><br>
              I did not receive the offer of a review
            </label>

            <div class="panel js-hidden" id="challenge_status=pending">
            <fieldset data-required data-error="Please enter an answer">
              <label class="form-label" for="penalty_amount">
                How many days have passed since you asked for or accepted the offer of a review?
              </label>
              <input class="form-control" type="text" id="penalty_amount" data-store>
            </fieldset>
          </div>

          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}
