{% extends "layout.html" %}

{% set ptitle = "You must wait before you can appeal to the tax tribunal" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">If you've already accepted or asked for a review, you should only appeal to the tribunal when you have:</p>
      <ul class="list list-bullet">
        <li>received a review conclusion letter</li>
        <li>waited 45 days and not received a letter</li>
      </ul>
      <p>
        <a class="button" href="https://www.gov.uk/contact-hmrc">Finish</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}


