<aside class="govuk-related-items">

  <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
  <nav role="navigation">
    <ul class="font-xsmall">
      <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
      <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
      <li><a href="https://www.gov.uk/guidance/tax-tribunal-lead-case-appeals">Tax tribunal: lead case appeals</a></li>
    </ul>
  </nav>

</aside>
