<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/includes.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/vendor/dropzone.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/stick-at-top-when-scrolling.js"></script>
<script src="/public/javascripts/vendor/validation.js"></script>
<script src="/public/javascripts/application.js"></script>

<!-- load and init() modules based on moj Heisenberg pattern -->
<script src="/public/javascripts/module_loader.js"></script>
<!-- modules -->
<script src="/public/javascripts/modules/debug-panel.js"></script>
<script src="/public/javascripts/modules/data-store.js"></script>
<script src="/public/javascripts/modules/back-links.js"></script>
<script src="/public/javascripts/modules/password-toggle.js"></script>
<script src="/public/javascripts/modules/disabled-links.js"></script>
<script src="/public/javascripts/modules/link-alerts.js"></script>
<script src="/public/javascripts/modules/paid-case.js"></script>
<script src="/public/javascripts/modules/form-routes.js"></script>
<script src="/public/javascripts/modules/record-answers.js"></script>
<script src="/public/javascripts/modules/display-values.js"></script>
<script src="/public/javascripts/modules/task-list.js"></script>
<script src="/public/javascripts/modules/task-dependencies.js"></script>
<script src="/public/javascripts/modules/dependent-fields.js"></script>
<script src="/public/javascripts/modules/doc-upload.js"></script>
<script src="/public/javascripts/modules/text-or-file.js"></script>
<script src="/public/javascripts/modules/save-and-return.js"></script>

<!-- initialise -->
<script type="text/javascript">
  window.moj.init();
</script>
