{% extends "layout.html" %}

{% block page_title %}
  Task list demo - Check if application is late - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Check if application is late</h1>

      <form class="js_route" action="start">

        <p>In this step you will determine whether your application is late or not.</p>

        <p>For the purposes of this demo, simply press Continue.</p>

        <input type="hidden" id="task_check_if_late" name="check_if_late" value="complete" data-store>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>

  </div>
</main>

{% endblock %}
