{% extends "layout.html" %}

{% block page_title %}
  Task list demo - Determine fee - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">1. Find out your fee</h1>

      <form class="js_route" action="start">

        <p>Before your appeal can start, you will need to pay an administration fee so the tribunal can process your case.
        </p>

        <p>For certain types of appeal, you will also have to pay further fees depending on whether your case needs needs further documents, correspondence and a hearing in person with a judge. The amount depends on your type of case.
        </p>

        <p>When the judge makes a decision on your case, they also have the power to decide whether HMRC should reimburse your tax tribunal fees. The tribunal itself does not have the power to enforce or award costs.
        </p>

         <p>Check if you’re able to <a href="https://www.gov.uk/get-help-with-court-fees">get help paying your fee</a>if you’re on certain benefits or a low income.</p>

<table class="expandable-demo">
            <caption>Table explaining the fees for different types of appeals or applications</caption>
            <thead>
              <tr>
                <th scope="col">Type of appeal or application</th>
                <th scope="col">Fee to process appeal</th>
                <th scope="col">Further fees for hearing, documents and correspondence</th>
                <th scope="col">Estimated time until case conclusion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li><strong>Penalty of £100 or less</strong>
                      (e.g. for late self-assessment)</li>
                  </ul>
                </td>
                <td>£20</td>
                <td>—</td>
                <td>3 - 6 months</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li><strong>Penalties of £101 to £20,000</strong>
                                        (e.g. for late filing or payment)</li>

                    <li><strong>Inaccurate return (considered careless)</strong></li>
                    <li><strong>Information notice</strong></li>
                    <li><strong>Pay As You Earn (PAYE) coding notice</strong></li>

                    <li><strong>Apply for a late HMRC review</strong></li>
                    <li><strong>Apply to close an enquiry</strong></li>
                  </ul>
                </td>
                <td>£50</td>
                <td>£200</td>
                <td>3 - 6 months</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>All other types of appeal or application</li>
                  </ul>
                </td>
                <td>£200</td>
                <td>up to £1,000</td>
                <td>12 - 18 months</td>
              </tr>
            </tbody>
          </table>

        <input type="hidden" id="task_determine_fee" name="determine_fee" value="complete" data-store>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>

  </div>
</main>

{% endblock %}
