{% extends "layout.html" %}

{% block page_title %}
  Task list - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('application_type', 'appeal');

    if(moj.Modules.dataStore.getItem('application_is_in_time') === 'no') {
      $('[data-task="check_if_late"]').text('LATE');
    } else if(moj.Modules.dataStore.getItem('application_is_in_time') === 'unknown') {
      $('[data-task="check_if_late"]').text('NOT SURE');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main" class="task-list-home">

  {% include "includes/phase_banner_beta.html" %}

  <header class="homepage-top">
    <div class="homepage-top-inner">
      <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>Get an impartial decision on your dispute</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">&nbsp</p>
      <ol class="list list-number task-list" data-task-list>
        <li>
          <a class="task-link" href="/before_you_start/start">Find out the cost of your appeal</a>
          <p>Give details about your dispute and find out your tax tribunal fees.</p>
          <p>(5 minutes to complete)</p>
          <span class="task-status js-hidden" data-task="determine_fee">£<span data-key="fee">20</span></span>
          <a class="button button-start js-hidden" href="/before_you_start/start">Start</a>
        </li>
        <li>
          <a class="task-link" href="/lateness/start">Check you meet the tribunal deadline</a>
          <p>You can still submit your appeal late by giving reasons for the judge to consider.</p>
          <p>(5 minutes to complete)</p>
          <span class="task-status js-hidden" data-task="check_if_late">IN TIME</span>
          <a class="button button-start js-hidden" href="/lateness/start">Start</a>
        </li>
        <li>
          <a class="task-link" href="/data_capture/start">Enter appeal details and pay fee</a>
          <p>Explain why you're appealing, upload a copy of your decision letter and pay the initial fee.</p>
          <p>(20 minutes to complete)</p>
          <span class="task-status js-hidden" data-task="enter_details">COMPLETED</span>
          <a class="button button-start js-hidden" href="/data_capture/start">Start</a>
        </li>
      </ol>
    </div>
  </div>
</main>

{% endblock %}
