{% extends "layout.html" %}

{% block page_title %}
  Task list demo - Pay fee - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Pay your fee</h1>

      <form class="js_route" action="start">

        <p>In this step you will use the GOV.UK Pay system to pay the fee associated with your appeal, determined earlier.</p>

        <p>For the purposes of this demo, simply press Continue.</p>

        <input type="hidden" id="task_pay_fee" name="pay_fee" value="complete" data-store>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>

  </div>
</main>

{% endblock %}
