{% extends "layout.html" %}

{% block page_title %}
  Guidance: Appeal to the tribunal - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" class="multi-page" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">Appeal to the tax tribunal</h1>
      </header>

      <div class="article-container group">
        <div class="content-block">
          <div class="inner">

            <aside>
              <a href="#" class="show-all-parts">Show all parts of this guide</a>
              <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                <ol>
                  <li>
                    <span class="part-number">1.</span>
                    <span>Overview</span>
                  </li>
                  <li class="active">
                    <span class="part-number">2.</span>
                    <a title="Part 2: Appeal to the tribunal" href="/guidance/before-you-appeal">Appeal to the tribunal</a>
                  </li>
                  <li>
                    <span class="part-number">3.</span>
                  <a title="Part 3: If you have a hearing" href="/guidance/if-you-have-a-hearing">If you have a hearing</a>
                  </li>
                </ol>
                <ol start="4">
                  <li>
                    <span class="part-number">4.</span>
                    <a title="Part 4: The tribunal's decision" href="/guidance/tax-tribunal-decisions">The tribunal's decision</a>
                  </li>
                  <li>
                    <span class="part-number">5.</span>
                    <a title="Part 5: Legislation and previous decisions" href="/guidance/submit-your-appeal-or-application">Legislation and previous decisions</a>
                  </li>
                </ol>
              </nav>
            </aside>

            <h2 class="heading-large">2. Appeal to the tribunal</h2>

            <p>You can appeal to the tax tribunal online. You can also use this service to close an enquiry.</p>

            <p>To appeal, you must have:</p>

            <ul class="list list-bullet">
              <li>a scan or photo of your original notice or review conclusion letter</li>
              <li>reasons for your appeal, so the judge can understand your side of the argument</li>
            </ul>
              
              <p>You'll also need to download and fill in an <a href="https://drive.google.com/open?id=0B-4PgEZDV9SBczhkbGNDanJEa28">authorisation form </a></strong> if you want someone to represent you and they are not a practising solicitor or barrister.</p>

            <p><a href="https://tax-tribunals-datacapture-dev.dsd.io/">
            <input type="submit" class="button button-start" value="Submit an appeal"></a>
            </p>

            <h3 class="heading-medium">Appeal by post</h3>
           
            <p>Download and fill in a <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3015">notice of appeal form (T240)</a>. 

            <p>Read the <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3019">guidance notes</a> if you need help.</p>

            <p>If you're applying to close an enquiry, download and fill in <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3019">application form (T245)</a>.</p>

            <p>Send your completed form to the tribunal - the address is on the form.</p>

            <h3 class="heading-medium">If you need help</h3>
            <p>Contact the tax tribunal helpline if you have any questions about completing your appeal or application. The helpline can’t give you legal advice.</p>

            <p><strong>Tax tribunal helpline</strong><br>
              Telephone: 0300 123 1024<br>
              Monday to Friday, 8:30am to 5pm<br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

            <h3 class="heading-medium">What happens next</h3>
            <p>You’ll get a letter from the tribunal explaining what happens next. You might be asked to provide more documents to support your case. </p>

            <p>Not all cases will have a hearing, but you can ask for one. You’ll usually get at least 14 days’ notice of the date of the hearing. The tribunal will write to you with details of what you need to do. </p>
  
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/guidance/overview">
                      <span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/guidance/if-you-have-a-hearing">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">If you have a hearing</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </footer>

          </div>
        </div>
      </div>

    </div>

    <div class="column-one-third">
      {% include "includes/guidance_sidebar.html" %}
    </div>
  </div>
</main>

{% endblock %}
