{% extends "layout.html" %}

{% block page_title %}
  Guidance: Before you appeal - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" class="multi-page" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">Appeal to the tax tribunal</h1>
      </header>

      <div class="article-container group">
        <div class="content-block">
          <div class="inner">

            <aside>
              <a href="#" class="show-all-parts">Show all parts of this guide</a>
              <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                <ol>
                  <li class="active">
                    <span class="part-number">1.</span>
                    <a title="Part 1: What is the tax tribunal" href="/guidance/overview">What is the tax tribunal</a>
                  </li>
                  <li>
                    <span class="part-number">2.</span>
                    <span>Before you appeal</span>
                  </li>
                  <li>
                    <span class="part-number">3.</span>
                    <a title="Part 3: Tax tribunal fees" href="/guidance/tax-tribunal-fees">Tax tribunal fees</a>
                  </li>
                </ol>
                <ol start="4">
                  <li>
                    <span class="part-number">4.</span>
                    <a title="Part 4: Submit your appeal or application" href="/guidance/submit-your-appeal-or-application">Submit your appeal or application</a>
                  </li>
                  <li>
                    <span class="part-number">5.</span>
                    <a title="Part 5: If you have a hearing" href="/guidance/if-you-have-a-hearing">If you have a hearing</a>
                  </li>
                  <li>
                    <span class="part-number">6.</span>
                    <a title="Part 6: Tax tribunal decisions" href="/guidance/tax-tribunal-decisions">Tax tribunal decisions</a>
                  </li>
                </ol>
              </nav>
            </aside>

            <h2 class="heading-large">2. Before you appeal</h2>
            <p>You risk having your case rejected and losing any tax tribunal fees if you do not do certain things before you appeal.</p>

            <h3 class="heading-medium">Challenge the decision first</h3>
            <p>It’s free to get HMRC to look at your case again, or to ask for an internal review by a tax officer not involved in your case.</p>
            <p>You must <a href="https://www.gov.uk/tax-appeals/overview">challenge HMRC</a> first if you’re appealing against a ‘direct tax’ decision such as:</p>
            <ul class="list list-bullet">
              <li>Income Tax (including self-assessment, PAYE)</li>
              <li>National Insurance contributions</li>
              <li>Corporation Tax</li>
              <li>Capital Gains Tax</li>
              <li>Inheritance Tax</li>
              <li>Statutory Sick Pay and Statutory Maternity Pay</li>
            </ul>
            <p>You must <a href="https://www.gov.uk/customs-seizures/overview">ask HMRC or Border Force to reconsider their decision</a> first if they:</p>
            <ul class="list list-bullet">
              <li>refuse to return your seized goods</li>
              <li>say you need to pay to get your seized goods back</li>
              <li>send you an assessment for duty</li>
              <li>try to charge you a penalty</li>
            </ul>

            <h3 class="heading-medium">Allow time for a review to finish</h3>
            <p>If you’ve asked for your case to be reviewed, or accepted the offer of an internal review, you should allow time for the review to finish.</p>
            <p>You can appeal to the tax tribunal when:</p>
            <ul class="list list-bullet">
              <li>you receive your review conclusion letter with a final decision on your case</li>
              <li>45 days have passed and you have not heard anything about your review</li>
            </ul>

            <h3 class="heading-medium">Check you meet tax tribunal deadlines</h3>
            <p>You should appeal within the time limit given on the original notice letter from HMRC, or review conclusion letter if your case was reviewed. This is usually 30 days.</p>
            <p>You can still appeal if you don’t meet the tax tribunal deadline. You will need to give reasons why you’re late. If the judge does not accept the reasons, your case may be rejected and you risk losing any fees you’ve paid.</p>

            <h3 class="heading-medium">You will have to pay VAT upfront or apply for hardship</h3>
            <p>You will need to pay any tax you owe first if your dispute involves an ‘indirect’ tax such as VAT. This is considered money collected on behalf of the government and will need to be paid before the tax tribunal can accept your appeal.</p>
            <p>If paying the tax will cause you hardship, such as risking bankruptcy or liquidation, you should ask HMRC not to collect the tax until the tax tribunal has decided your case. This is known as a hardship application.</p>
            <p>When you submit an appeal for the amount of VAT or any indirect tax you owe, you must do one of the following:</p>
            <ul class="list list-bullet">
              <li>pay the amount owed upfront</li>
              <li>agree with HMRC to defer payment</li>
              <li>give reasons to the tax tribunal why you think hardship should be allowed if HMRC won’t defer payment</li>
            </ul>
            <p>You do not have to apply for hardship if your appeal is about a penalty or surcharge.</p>

            <h3 class="heading-medium">You can only close certain types of tax enquiry</h3>
            <p>You can only apply to the tax tribunal to close an enquiry if HMRC are looking into a ‘direct tax’ return (e.g. Income Tax, Capital Gains Tax or Corporation Tax).</p>
            <p>You can’t apply to close an enquiry if your tax return is being checked for ‘indirect tax’ such as VAT.</p>
            <p>The National Crime Agency (NCA) can check your tax return instead of HMRC in some cases, for example if they suspect you’ve been laundering money. You should make an appeal by <a href="#">writing to the NCA</a> if you don’t agree with the decision.</p>

            <h3 class="heading-medium">You may want to get help and advice</h3>
            <p>You can represent yourself or <a href="http://www.lawsociety.org.uk/find-a-solicitor/">find a lawyer</a>, <a href="https://www.gov.uk/tax-help">tax adviser or accountant</a> to help with your appeal.</p>
            <p>You can get free advice from:</p>
            <ul class="list list-bullet">
              <li><a href="http://www.citizensadvice.org.uk/">Citizens Advice</a></li>
              <li><a href="http://www.litrg.org.uk">Low Incomes Tax Reform Group</a></li>
              <li><a href="http://taxaid.org.uk/">TaxAid</a></li>
              <li><a href="http://www.taxvol.org.uk/">TaxHelp for Older People</a>, if you’re over 60</li>
            </ul>

            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/guidance/overview">
                      <span class="pagination-label">Previous </span> <span class="pagination-part-title">What is the tax tribunal</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/guidance/tax-tribunal-fees">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Tax tribunal fees</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </footer>

          </div>
        </div>
      </div>

    </div>

    <div class="column-one-third">
      {% include "includes/guidance_sidebar.html" %}
    </div>
  </div>
</main>

{% endblock %}
