{% extends "layout.html" %}

{% block page_title %}
  Guidance: Overview - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" class="multi-page" role="main">

  {% include "includes/phase_banner_demo.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">Appeal to the tax tribunal</h1>
      </header>

      <div class="article-container group">
        <div class="content-block">
          <div class="inner">

            <aside>
              <a href="#" class="show-all-parts">Show all parts of this guide</a>
              <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                <ol>
                  <li class="active">
                    <span class="part-number">1.</span>
                    <span>Overview</span>
                  </li>
                  <li>
                    <span class="part-number">2.</span>
                    <a title="Part 2: Appeal to the tribunal" href="/guidance/before-you-appeal">Appeal to the tribunal</a>
                  </li>
                  <li>
                    <span class="part-number">3.</span>
                    <a title="Part 3: If you have a hearing" href="/guidance/if-you-have-a-hearing">If you have a hearing</a>
                  </li>
                </ol>
                <ol start="4">
                  <li>
                    <span class="part-number">4.</span>
                    <a title="Part 4: The tribunal's decision" href="/guidance/tax-tribunal-decisions">The tribunal's decision</a>
                  </li>
                  <li>
                    <span class="part-number">5.</span>
                    <a title="Part 5: Legislation and previous decisions" href="/guidance/submit-your-appeal-or-application">Legislation and previous decisions</a>
                  </li>
                </ol>
              </nav>
            </aside>

            <h2 class="heading-large">1. Overview</h2>
            <p>You can appeal to the First-tier Tribunal (Tax) if you want to challenge some decisions by HM Revenue and Customs (HMRC), Border Force or the National Crime Agency (NCA).</p>
            <p>The tribunal is independent of government and will listen to both sides of the argument before making a decision.</p>

            <p>Consider <a href="https://www.gov.uk/guidance/tax-disputes-alternative-dispute-resolution-adr">alternative dispute resolution (ADR)</a> before you appeal to the tribunal.</p>

            <h3 class="heading-medium">Appeal an HMRC decision</h3>
            <p>You can appeal some decisions about:</p>
            <ul class="list list-bullet">
              <li>‘direct tax’, e.g. Income Tax, PAYE tax, Corporation Tax, Capital Gains Tax, National Insurance contributions, Statutory Sick Pay, Statutory Maternity Pay, Inheritance Tax - you must <a href="https://www.gov.uk/tax-appeals">appeal to HMRC</a> first</li>
              <li>‘indirect tax’, eg VAT, excise duty, customs duty - you can usually appeal straight to the tribunal</li>
            </ul>

              <p class="notice util_mt-large">
              <i class="icon icon-important">
                <span class="visuallyhidden">Warning</span>
              </i>
              <strong class="bold-small">
                You must appeal within the time limit - it’ll usually be on your decision letter.
              </strong>
            </p>

            <p>There’s a different way to appeal decisions about <a href="https://www.gov.uk/social-security-child-support-tribunal/overview">tax credits</a> and <a href="https://www.gov.uk/council-tax-appeals">Council Tax</a>.</p>

            <strong>If you can't pay</strong>
            <p>You must usually pay upfront what HMRC says you owe. Make a hardship application if you can’t. <a href="/guidance/before-you-appeal">Appeal to the tribunal</a> if HMRC won’t let you delay payment.</p>

            <p>You don’t have to pay upfront if you’re appealing about a penalty.</p>

            <h3 class="heading-medium">Appeal about seized goods</h3>

            <p>You must ask HMRC or Border Force to take your case to the magistrates’ court (this is known as starting ‘condemnation proceedings’) if you think they shouldn’t have taken (or ‘seized’) your goods.</p>

            <p>The tribunal can’t decide whether your goods were seized with good reason.</p>

            <p>You may be able to appeal to the tribunal if HMRC or Border Force:</p>

            <ul class="list list-bullet">
              <li>refuses to return your seized goods</li>
              <li>says you need to pay to get your seized goods back</li>
              <li>sends you an assessment for duty</li>
              <li>tries to charge you a penalty</li>
            </ul>

            <p>You must ask HMRC or Border Force to reconsider their decision before you can appeal.</p>

            <h3 class="heading-medium">Closure applications</h3>

            <p>You can apply for a ‘closure notice’ if HMRC opens an enquiry to check your tax return for ‘direct tax’ (eg Income Tax, Capital Gains Tax or Corporation Tax) and you want it to be closed.</p>

            <p>Read the <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3019">detailed guidance</a> if you need help.</p>

            <p>The tribunal will decide when HMRC should close the enquiry.</p>

            <p>You can’t apply for a closure notice if your tax return is being checked for ‘indirect tax’.</p>

             <h3 class="heading-medium">Appeal an NCA decision</h3>

            <p>The National Crime Agency (NCA) can check your tax return instead of HMRC in some cases, for example if they suspect you’ve been laundering money.</p>

            <p>You should make an appeal by writing to the NCA if you don’t agree with the decision.</p>


            <h3 class="heading-medium">Help you can get</h3>
            <p>You may want to get help and advice before you appeal.</p>
            <p>You can represent yourself or <a href="http://www.lawsociety.org.uk/find-a-solicitor/">find a lawyer</a>, <a href="https://www.gov.uk/tax-help">tax adviser or accountant</a> to help with your appeal.</p>
            <p>You can get free advice from:</p>
            <ul class="list list-bullet">
              <li><a href="http://www.citizensadvice.org.uk/">Citizens Advice</a></li>
              <li><a href="http://www.litrg.org.uk">Low Incomes Tax Reform Group</a></li>
              <li><a href="http://taxaid.org.uk/">TaxAid</a></li>
              <li><a href="http://www.taxvol.org.uk/">TaxHelp for Older People</a>, if you’re over 60</li>
            </ul>

            <p>Read more <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3019">detailed information</a> about appealing to the tribunal</p>

            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/guidance/before-you-appeal">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Appeal to the tribunal</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </footer>

          </div>
        </div>
      </div>

    </div>

    <div class="column-one-third">
      {% include "includes/guidance_sidebar.html" %}
    </div>
  </div>
</main>

{% endblock %}
