{% extends "layout.html" %}

{% block page_title %}
  Guidance: Submit your appeal or application - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" class="multi-page" role="main">

  {% include "includes/phase_banner_demo.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">Appeal to the tax tribunal</h1>
      </header>

      <div class="article-container group">
        <div class="content-block">
          <div class="inner">

            <aside>
              <a href="#" class="show-all-parts">Show all parts of this guide</a>
              <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                <ol>
                  <li class="active">
                    <span class="part-number">1.</span>
                    <a title="Part 1: Overview" href="/guidance/overview">Overview</a>
                  </li>
                  <li>
                    <span class="part-number">2.</span>
                    <a title="Part 2: Appeal to the tribunal" href="/guidance/before-you-appeal">Appeal to the tribunal</a>
                  </li>
                  <li>
                    <span class="part-number">3.</span>
                  <a title="Part 3: Appeal to the tribunal" href="/guidance/if-you-have-a-hearing">If you have a hearing</a>
                  </li>
                </ol>
                <ol start="4">
                  <li>
                    <span class="part-number">4.</span>
                    <a title="Part 4: The tribunal's decision" href="/guidance/tax-tribunal-decisions">The tribunal's decision</a>
                  </li>
                  <li>
                    <span class="part-number">5.</span>
                    <span>Legislation and previous decisions</span>
                  </li>
                </ol>
              </nav>
            </aside>

            <h2 class="heading-large">5. Legislation and previous decisions</h2>

            <p>Read the rules the tribunal must follow and its decisions on previous cases.</p>

            <h3 class="heading-medium">Previous decisions</h3>
            <p>Search the <a href="http://financeandtax.decisions.tribunals.gov.uk//Aspx/default.aspx">decisions database</a> to see how and why previous decisions have been made.</p>

            <h3 class="heading-medium">Legislation</h3>
            <p>The tribunal must follow the <a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tribunal Procedure (First-tier Tribunal) (Tax Chamber) Rules 2009</a>.</p>

            <p>Read the <a href="http://www.judiciary.gov.uk/publications/?filter_type=publication&search=tax&tax-single-subject=955&tax-single-publication-type=905&tax-single-publication-jurisdiction=-1&date-range-after=&date-range-before=">practice directions</a> and <a href="http://www.judiciary.gov.uk/publications/?filter_type=publication&search=tax&tax-single-subject=955&tax-single-publication-type=948&tax-single-publication-jurisdiction=-1&date-range-after=&date-range-before=">practice statements</a> for more detailed guidance.</p>

            <p>The tribunal was set up by the <a href="http://www.legislation.gov.uk/ukpga/2007/15/contents">Tribunals, Courts and Enforcement Act 2007</a> and <a href="http://www.legislation.gov.uk/uksi/2009/56/contents/made">Transfer of Tribunal Functions and Revenue and Customs Appeals Order 2009</a>.</p>

            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/guidance/tax-tribunal-decisions">
                      <span class="pagination-label">Previous </span> <span class="pagination-part-title">The tribunal's decision</span>
                    </a>
                  </li>
              </nav>
            </footer>

          </div>
        </div>
      </div>

    </div>

    <div class="column-one-third">
      {% include "includes/guidance_sidebar.html" %}
    </div>
  </div>
</main>

{% endblock %}
