{% extends "layout.html" %}

{% block page_title %}
  Guidance: Submit your appeal or application - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" class="multi-page" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">Appeal to the tax tribunal</h1>
      </header>

      <div class="article-container group">
        <div class="content-block">
          <div class="inner">

            <aside>
              <a href="#" class="show-all-parts">Show all parts of this guide</a>
              <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                <ol>
                  <li class="active">
                    <span class="part-number">1.</span>
                    <a title="Part 1: What is the tax tribunal" href="/guidance/overview">What is the tax tribunal</a>
                  </li>
                  <li>
                    <span class="part-number">2.</span>
                    <a title="Part 2: Before you appeal" href="/guidance/before-you-appeal">Before you appeal</a>
                  </li>
                  <li>
                    <span class="part-number">3.</span>
                    <a title="Part 3: Tax tribunal fees" href="/guidance/tax-tribunal-fees">Tax tribunal fees</a>
                  </li>
                </ol>
                <ol start="4">
                  <li>
                    <span class="part-number">4.</span>
                    <span>Submit your appeal or application</span>
                  </li>
                  <li>
                    <span class="part-number">5.</span>
                    <a title="Part 5: If you have a hearing" href="/guidance/if-you-have-a-hearing">If you have a hearing</a>
                  </li>
                  <li>
                    <span class="part-number">6.</span>
                    <a title="Part 6: Tax tribunal decisions" href="/guidance/tax-tribunal-decisions">Tax tribunal decisions</a>
                  </li>
                </ol>
              </nav>
            </aside>

            <h2 class="heading-large">4. Submit your appeal or application</h2>
            <p>You are preparing your own case for careful consideration by an independent adjudicator. It is important to understand what to include in your appeal or application.</p>

            <h3 class="heading-medium">How to prepare your case</h3>
            <p>You will need to do the following:</p>
            <ul class="list list-bullet">
              <li>check the things you must do before you appeal</li>
              <li>scan or take a photo of the original notice letter or review conclusion letter so it’s in a digital format</li>
            </ul>
            <p class="notice util_mt-large">
              <i class="icon icon-important">
                <span class="visuallyhidden">Warning</span>
              </i>
              <strong class="bold-small">
                Your appeal can only be based on the details outlined in a single notice or conclusion letter from HMRC
              </strong>
            </p>
            <ul class="list list-bullet">
                <li>write your grounds of appeal describing why you disagree with the disputed decision</li>
              <li>check you’re eligible for help with fees or choose how you want to pay your initial tax tribunal fee (online or by post)</li>
            </ul>
            <p>You should also do the following if they apply to your case:</p>
            <ul class="list list-bullet">
              <li>write your reasons for lateness if you don’t meet the deadline for the tax tribunal</li>
              <li>provide details of your hardship application or reasons why you think hardship should be allowed</li>
              <li>gather and scan any evidence that you want to add to support your case</li>
              <li>if you're a representative and not a legal professional, you will need a letter or email from your client saying they can act on your behalf</li>
            </ul>

            <h3 class="heading-medium">Submitting your appeal online</h3>
            <p>You can find out your fee and submit your appeal or application to the tax tribunal online:</p>
            <a href="/end-to-end/start-task-list" class="button button-start">Start</a>

            <h3 class="heading-medium">Scanning and uploading documents</h3>
            <p>You will need your documents in a digital format so they are ready to upload. You can do this using a scanner or by taking photos using a smartphone.</p>
            <p>It will help you to complete your appeal if you write out your grounds of appeal so you can copy and paste it as text or attach a document.</p>
            <p>If can’t scan or upload your documents in digital format, you can print out your appeal or application when it’s completed. Send it to the tax tribunal by post enclosing a cheque for the right fee amount made out to HM Courts and Tribunals Service.</p>

            <h3 class="heading-medium">Paying your fees online</h3>
            <p>You will need to pay an initial fee or your case will be rejected.</p>
            <p>You can pay by debit or credit card, unless you're eligible for <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a>. </p>
            <p>If you are successful with your help with fees application you can enter your help with fees reference number (e.g. HWF-XXX-XXX) instead of paying.</p>
            <p>If you want to pay by cheque, you can print out your appeal or application when it’s completed. Send it to the tax tribunal by post enclosing the correct documents and a cheque for the right fee amount made out to HM Courts and Tribunals Service.</p>

            <h3 class="heading-medium">Sending your appeal by post</h3>
            <p>You can complete your appeal or application online and print out a copy to post. You can also download and fill in a <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3015">notice of appeal form (T240)</a> or <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3019">application form (T245)</a> if you’re applying to close an enquiry.</p>
            <p>You should enclose a copy of the original notice or review conclusion letter from HMRC and any other documents supporting your case.</p>
            <p>Enclose a cheque for the right fee amount made out to HM Courts and Tribunals Service, and post to:</p>
            <p>First-tier Tribunal (Tax Chamber)<br>
              PO Box 16972<br>
              Birmingham<br>
              B16 6TZ</p>
            <p>Your appeal risks be rejected if you do not enclose the right documents and payment for your initial fee. Your appeal or application must arrive within any deadlines to appeal.</p>

            <h3 class="heading-medium">Contact the helpline if you need assistance</h3>
            <p>Contact the tax tribunal helpline if you have any questions about completing your appeal or application. The helpline can’t give you legal advice.</p>
            <p><a href="mailto:taxappeals@hmcts.gsi.gov.uk">taxappeals@hmcts.gsi.gov.uk</a><br>
              Telephone: 0300 123 1024<br>
              Monday to Friday, 8:30am to 5pm<br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
            <p>The tribunal can also let you know if your appeal is incomplete or you have no right to appeal.</p>

            <h3 class="heading-medium">What happens next</h3>
            <p>You will receive a confirmation email with your case reference number if you submit your appeal online.</p>
            <p>The tax tribunal will send a letter explaining what will happen with your case, and whether you will need a hearing.</p>
            <p>The tribunal can decide some appeals after reading the appeal details and other paperwork, but you can ask for a hearing if you’d prefer one. You may have to send documents to HMRC and the tax tribunal before your hearing to support your case.</p>
            <p>You’ll usually get at least 14 days’ notice of the date of the hearing. The tribunal will write to you with details of what you need to do including paying any further fee for your case to proceed. The hearing will be held at your nearest venue.</p>

          </div>
        </div>
      </div>

    </div>

    <div class="column-one-third">
      {% include "includes/guidance_sidebar.html" %}
    </div>
  </div>
</main>

{% endblock %}
