{% extends "layout.html" %}

{% block page_title %}
  Guidance: Tax tribunal decisions - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" class="multi-page" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">Appeal to the tax tribunal</h1>
      </header>

      <div class="article-container group">
        <div class="content-block">
          <div class="inner">

            <aside>
              <a href="#" class="show-all-parts">Show all parts of this guide</a>
              <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                <ol>
                  <li class="active">
                    <span class="part-number">1.</span>
                    <span>Overview</span>
                  </li>
                  <li>
                    <span class="part-number">2.</span>
                    <a title="Part 2: Appeal to the tribunal" href="/guidance/before-you-appeal">Appeal to the tribunal</a>
                  </li>
                  <li>
                    <span class="part-number">3.</span>
                  <a title="Part 3: Appeal to the tribunal" href="/guidance/if-you-have-a-hearing">If you have a hearing</a>
                  </li>
                </ol>
                <ol start="4">
                  <li>
                    <span class="part-number">4.</span>
                    <a title="Part 4: The tribunal's decision" href="/guidance/tax-tribunal-decisions">The tribunal's decision</a>
                  </li>
                  <li>
                    <span class="part-number">5.</span>
                    <a title="Part 5: Legislation and previous decisions" href="/guidance/submit-your-appeal-or-application">Legislation and previous decisions</a>
                  </li>
                </ol>
              </nav>
            </aside>

            <h2 class="heading-large">4. The tribunal's decision</h2>

            <p>You’ll usually get the tribunal’s decision:</p>

            <ul class="list list-bullet">
              <li>in writing, if you didn’t have a hearing (the decision will be based on the appeal form and other paperwork)</li>
              <li>in writing within 1 month, if you’ve had a ‘basic’ case - you’ll sometimes get a decision on the day</li>
              <li>in writing within 2 months, if you’ve had a ‘standard’ or ‘complex’ hearing</li>
            </ul>

            <h3 class="heading-medium">If you lose your case</h3>
            <p>If you lose your case, you may be able to:</p>
         
            <ul class="list list-bullet">
              <li>get a decision ‘set aside’</li>
              <li>ask for permission to appeal</li>
            </ul>

            <h4 class="heading-small">Get a decision set aside</h4>
            <p>You can ask for a decision to be ‘set aside’ (cancelled), but only if you think there was a mistake in the process. The letter you get with the decision will tell you how to do this. Contact <a href="http://www.citizensadvice.org.uk/index/getadvice.htm">Citizens Advice</a> if you need help.</p>

            <h4 class="heading-small">Ask for permission to appeal</h4>
            <p>You may be able to appeal against the decision if the First-tier Tribunal (Tax) made a legal mistake, e.g. it didn’t:</p>
            <ul class="list list-bullet">
              <li>apply the law correctly</li>
              <li>fully explain its decision</li>
            </ul>
            <p>1. Ask for full written reasons if you haven’t had them already. You must do this within 28 days of the date on the decision notice - the decision notice will tell you how.</p>
            <p>2. Ask for permission to appeal - <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=4505">download the appeal form and read the guidance notes</a>. You must do this within 56 days of the date given on the full written reasons.</p>
            <p>Send the appeal form to:</p>
            <p>First-tier Tribunal (Tax Chamber)<br>
              PO Box 16972<br>
              Birmingham<br>
              B16 6TZ </p>

              <p>Tax Tribunal 
              <a href="mailto:taxappeals@hmcts.gsi.gov.uk">taxappeals@hmcts.gsi.gov.uk</a><br>
              Telephone: 0300 123 1024<br>
              Monday to Friday, 8:30am to 5pm<br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

            <h4 class="heading-small">After you send the form</h4>
            <p>A judge will decide if you can take your case to a higher tribunal, called the Upper Tribunal (Tax and Chancery). <a href="https://www.gov.uk/tax-upper-tribunal">Appeal to the Upper Tribunal</a> if you get permission.</p>

            <h4 class="heading-small">If you’re refused permission to appeal</h4>
            <p>You can apply to the Upper Tribunal for permission to appeal if the First-tier Tribunal (Tax) refuses, or only gives you permission to appeal on limited grounds.</p>

            <h3 class="heading-medium">Previous decisions</h3>
            <p>Search the <a href="http://www.financeandtaxtribunals.gov.uk/Aspx/default.aspx">decisions database</a> to see how and why previous decisions have been made.</p>

            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/guidance/if-you-have-a-hearing">
                      <span class="pagination-label">Previous </span> <span class="pagination-part-title">If you have a hearing</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </footer>

          </div>
        </div>
      </div>

            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/guidance/if-you-have-a-hearing">
                      <span class="pagination-label">Previous </span> <span class="pagination-part-title">If you have a hearing</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/guidance/if-you-have-a-hearing">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Legislation and previous decisions</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </footer>

    </div>

    <div class="column-one-third">
      {% include "includes/guidance_sidebar.html" %}
    </div>
  </div>
</main>

{% endblock %}
