{% extends "layout.html" %}

{% block page_title %}
  What type of tax is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 5 of 6</p>
      <h1 class="heading-large">What type of tax is your dispute about?</h1>

      <p class="lede">Select the option that is relevant to you.</p>

      <form class="js_route" action="fee">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="tax_type" type="radio" value="income_tax" data-store="direct=true" />
              Income tax (including self assessment and PAYE)
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="corporation_tax" data-store="direct=true" />
              Corporation tax
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="capital_gains_tax" data-store="direct=true" />
              Capital gains tax
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="vat" data-store="direct=false" />
              Value Added Tax (VAT)
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="insurance_premium_tax" data-store="direct=false" />
              Insurance Premium Tax (IPT)
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="landfill_tax" data-store="direct=false" />
              Landfill tax
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="other" data-store="direct=true" />
              National insurance contributions Inheritance tax
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="stamp_taxes" data-store="direct=true" />
              Stamp taxes (Stamp Duty, Stamp Duty Land Tax and Stamp Duty Reserve Tax)
            </label>
          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}
