{% extends "layout.html" %}

{% block page_title %}
  Are you in time to appeal? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('task_check_if_late', 'complete');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 1 of 2</p>
      <h1 class="heading-large">Do you think you're in time to appeal to the tax tribunal?</h1>

      <p class="lede">Use the date shown on either the original notice letter or review conclusion letter.</p>

      <form class="js_route" action="/task_list">
        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">Do you think you're in time to appeal to the tax tribunal?</legend>

            <label class="block-label">
              <input name="lateness" type="radio" value="in_time" data-store="application_is_late=no" />
              Yes, I am in time
            </label>

            <label class="block-label">
              <input name="lateness" type="radio" value="out_time" data-destination="hmrc_view_late" data-store="application_is_late=yes" />
              No, I am late
            </label>

            <label class="block-label">
              <input name="lateness" type="radio" value="unknown" data-destination="hmrc_view_late" data-store="application_is_late=unknown" />
              I am not sure
            </label>

          </fieldset>
        </div>

          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with tax tribunal deadlines</summary>
        <div class="panel">
          <p>You have 30 calendar days to appeal to the tax tribunal. This time starts from the date shown on either the original notice letter or review conclusion letter if you had a review.</p>
          <p><strong>If you are waiting for a review</strong></p>
          <p>If you accepted or asked for a review, you must allow time for the review to finish. You can only appeal once you have received a review conclusion letter or 45 days passes without receiving one.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


