{% extends "layout.html" %}

{% block page_title %}
  Why are you late with your appeal? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('mode') === 'task_list') {
      moj.Modules.dataStore.storeItem('task_check_if_late', 'complete');
      $('form').attr('action', '/end_to_end/task-list');
    }
    if(moj.Modules.dataStore.getItem('application_is_late') === 'unknown') {
      $('.might-be-late').text('think you might be');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step X of Y</p>
      <h1 class="heading-large">Why are you late with your appeal?</h1>

      <p class="lede">Enter the reasons why you <span class="might-be-late">are</span> late appealing to the tribunal. The judge will consider your case. Your appeal fee will not be refunded if your reasons are not accepted.</p>

      <form class="js_route" action="/data_capture/appellant_type">

        <div class="form-group">
          <label class="form-label" for="lateness-reason">
            Reason(s) for late appeal
          </label>
          <textarea class="form-control form-control-3-4" id="lateness_reason" rows="4" cols="40" data-store></textarea>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with late appeals</summary>
        <div class="panel">
          <p>You must provide reasonable grounds for submitting your appeal late. These are usually unforeseen circumstances or events beyond your control which meant you weren't able to meet the appeal deadlines.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


