{% extends "layout.html" %}

{% block page_title %}
  Are you in time to appeal? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('mode') === 'task_list') {
      moj.Modules.dataStore.storeItem('task_check_if_late', 'complete');
      $('form').attr('action', '/end_to_end/task-list');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 1 of 2</p>
      <h1 class="heading-large">Do you think you're in time to appeal to the tax tribunal?</h1>

      <p class="lede">Use the date shown on the last letter you received from HMRC to work out whether you are in time. You usually have up to 30 days.</p>
      <p>
      You can still submit an appeal if you are late or have given HMRC time to carry out a review.
      </p>

      <form class="js_route" action="/data_capture/appellant_type">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="lateness" type="radio" value="in_time" data-store="application_is_late=no" />
              Yes, I am in time
            </label>

            <label class="block-label">
              <input name="lateness" type="radio" value="out_time" data-destination="hmrc_view_late" data-store="application_is_late=yes" />
              No, I am late
            </label>

            <label class="block-label">
              <input name="lateness" type="radio" value="unknown" data-destination="hmrc_view_late" data-store="application_is_late=unknown" />
              I'm not sure
            </label>

          </div>
        </fieldset>

          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with tax tribunal deadlines</summary>
        <div class="panel">
          <p>You usually have up to 30 days to appeal to the tax tribunal. This time starts from the date you received your last letter relating to the dispute from HMRC.</p>
          <p><strong>If you've asked for a review but have no response</strong></p>
          <p>If HMRC have not responded to your request to review your tax dispute, you have up to 45 days from the date of the last letter you received from HMRC.</p>
          <p>You should scan and upload a copy of your letter requesting when you submit your appeal details.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


