{% extends "layout.html" %}

{% block page_title %}
  Why are you late with your appeal? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('task_check_if_late', 'complete');

    if(moj.Modules.dataStore.getItem('application_is_late') === 'unknown') {
      $('.might-be-late-heading').text('Are there reasons why your appeal might be late?');
      $('.might-be-late').text('To help us process your case quickly, you should give reasons why your appeal might be late. The judge will look at your reasons and decide whether to accept your appeal if it is late.');
      $('.might-be-late-box').text('Reason(s) your appeal might be late');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 2 of 2</p>
      <h1 class="heading-large"><span class="might-be-late-heading">Why are you late with your appeal?</span></h1>

      <p class="lede"><span class="might-be-late">You must provide reasonable grounds for appealing late. If the judge rejects your reasons, your appeal will not proceed<span data-dependent="fees=yes"> and any fees will not be refunded</span>.</span></p>


      <form class="js_route" action="/task_list">

        <div class="form-group">
          <fieldset data-required data-error="Please provide an answer">
            <label class="form-label" for="lateness-reason">
              <span class="might-be-late-box">Reason(s) for late appeal</span>
            </label>
            <textarea class="form-control form-control-3-4" id="lateness_reason" rows="4" cols="40" data-store></textarea>
          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with late appeals</summary>
        <div class="panel">
          <p>You must provide reasonable grounds for submitting your appeal late. These are usually unforeseen circumstances or events beyond your control which meant you weren't able to meet the tax tribunal deadlines.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


