{% extends "layout.html" %}

{% block page_title %}
  Are you late? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">2. Check you meet tribunal deadlines</h1>

      <p class="lede">You usually have up to 30 days to appeal, unless your case is under review or you have reasons for being late.
      </p>
      <p>You should appeal within the time stated on your last letter from HMRC.</p>
      <p>
      If you accepted or asked for a review, you must allow time for it to end. Your 30 days to appeal begins once you get a review conclusion letter or 45 days passes without receiving one.
      </p>
      <p>You can still appeal late if you have good reasons, although your case risks being rejected if the judge does not accept the reasons.     
      <p><strong>What you will need</strong></p>
      <ul class="list list-bullet">
                  <li><strong>date of your decision letter from HMRC</strong> - this will be shown on the original notice letter or review conclusion if you had a review</li>
                  <li><strong>reasons for lateness</strong> - if you're outside the time limit and want to submit an appeal late</li>
      </ul>
      <p>
        <a class="button button-start js-start-task" href="hmrc_view_date" data-dependent-tasks="[1]" data-disable-message="Please complete step 1 first">Continue</a>
      </p>

    </div>

    <div class="column-one-third">
    
    </div>
  </div>
</main>

{% endblock %}
