{% extends "layout.html" %}

{% block page_title %}
  Do you meet the tax tribunal deadline? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">2. Check you meet tribunal deadlines</h1>

      <p class="lede">You have 30 calendar days to submit an appeal. You can still appeal late if you have good reasons.
      </p>
      <p>The deadline to appeal begins from the date shown on either the original notice letter or review conclusion letter.</p>
      <p>
      If you accepted or asked for a review, you can only appeal once you have received a review conclusion letter or 45 days passes without receiving one.
      </p> 
      <p><strong>What you will need</strong></p>
      <ul class="list list-bullet">
                  <li><strong>date of the decision letter</strong> - this will be shown on either the original notice letter or review conclusion letter</li>
                  <li><strong>reasons if you want to appeal late</strong> - the judge will consider your reasons and decide whether to accept or reject your appeal</li>
      </ul>
      <p>
        <a class="button button-start js-start-task" href="hmrc_view_date" data-dependent-tasks="[1]" data-disable-message="Please complete step 1 first">Continue</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
