{% extends "layout.html" %}

{% block page_title %}
  Are you late? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">2. Check you meet tribunal deadlines</h1>

      <p class="lede">You usually have up to 30 days to appeal, unless your case is under review or you have reasons for being late.
      </p>
      <p>You should appeal within the time stated on your last letter from HMRC.</p>
      <p>
      If you accepted or asked for a review, you must allow time for it to end. Your 30 days to appeal begins once you get a review conclusion letter or 45 days passes without receiving one.
      </p>
      <p>You can still appeal late if you have good reasons, although your case risks being rejected if the judge does not accept them.     
      <p><strong>What you will need</strong></p>
      <ul class="list list-bullet">
                  <li>date you received your last letter from HMRC</li>
                  <li>reasons why you're outside the time limit if you want to submit an appeal late</li>
      </ul>
      <p>
        <a class="button button-start js-start-task" href="hmrc_view_date" data-dependent-tasks="[1]" data-disable-message="Please complete step 1 first">Continue</a>
      </p>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Courts, sentencing and tribunals</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
              <li><a href="https://www.gov.uk/court-fees-what-they-are">Court and tribunal fees</a></li>
              <li><a href="https://www.gov.uk/tax-tribunal">Appeal to a tax tribunal</a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
            <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}
