{% extends "layout.html" %}

{% set ptitle = "You cannot close an enquiry for this type of tax" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You can only close an enquiry into certain types of tax usually involving income tax for individual or businesses paid through self-assessment.</p>
      <p>See the guidance on <a href="#">closing an ongoing enquiry with HMRC</a>.</p>
    </div>
  </div>
</main>

{% endblock %}


