{% extends "layout.html" %}

{% set ptitle = "You can only close certain types of enquiry" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">The tax tribunal only has the authority to close enquiries into certain types of tax.</p>
      <p>For more information on tax enquiries and what they are, see the guidance from <a href="http://taxaid.org.uk/guides/taxpayers/tax-returns/enquiries">TaxAid</a>.</p>

       <div class="form-group">
        <input class="button" type="button" value="Finish" >
      </div>

    </div>
  </div>
</main>

{% endblock %}


