{% extends "layout.html" %}

{% set ptitle = "Enter details for the enquiry you want to close" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step x of y</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You will find this information on any letters you have received from HMRC about the enquiry.
      </p>

      <form class="js_route" action="additional_info">

        <div class="form-group">
          <label class="form-label" for="closure_reference_number">HMRC reference number</label>
          <input class="form-control" type="text" id="closure_reference_number" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="years_under_enquiry">Years under enquiry</label>
          <input class="form-control" type="text" id="years_under_enquiry" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="closure_hmrc_officer">Name of HMRC officer conducting the enquiry (optional)</label>
          <input class="form-control" type="text" id="closure_hmrc_officer" data-store>
        </div>

        <p class="actions">
          <input class="button" type="submit" value="Continue">
          <a class="save-link" href="#">Save and come back later</a>
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


