{% extends "layout.html" %}

{% set ptitle = "What enquiry are you looking to close?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step x of y</p>
      <h1 class="heading-large">Enter details for the enquiry you want to close</h1>

      <p class="lede">You will find this information on the latest correspondence you have received from HMRC about their enquiries.</p>

      <form class="js_route" action="/data_capture/check_answers">

        <div class="form-group">
          <label class="form-label" for="closure_reference_number">HMRC reference number</label>
          <input class="form-control" type="text" id="closure_reference_number" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="closure_hmrc_officer">Name of HMRC officer conducting the enquiry</label>
          <input class="form-control" type="text" id="closure_hmrc_officer" data-store>
        </div>

        <div class="form-group">
          <label class="form-label" for="years_under_enquiry">Years or accounts of returns under enquiry</label>
          <input class="form-control" type="text" id="years_under_enquiry" data-store>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


