{% extends "layout.html" %}

{% block page_title %}
  Apply to close an enquiry - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('application_type', 'closure');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="/application_type.html">Back</a></p>
      <h1 class="heading-large">Apply to close an ongoing enquiry</h1>

      <p class="lede">Force HMRC to issue a closure notice for an ongoing enquiry. You will need to pay an initial fee of £50 to submit an appeal unless you're eligible for <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a>.</p>
      <p>You will also have to pay a further fee if your case needs further documents, correspondence and a hearing in person with a judge.</p>
      <details>
        <summary>See how much your appeal or application might cost</summary>

        <div class="panel">
          <table class="expandable-demo">
            <caption>Table explaining the fees for different types of appeals or applications</caption>
            <thead>
              <tr>
                <th scope="col">Type of appeal or application</th>
                <th scope="col">Initial fee</th>
                <th scope="col">Further fee</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list list-bullet">
                     <li>Apply to close an enquiry<br> (e.g. issue a closure notice)</li>
                  </ul>
                </td>
                <td>£50</td>
                <td>£200</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <p>The judge is independent and has the power to decide whether your fees are refunded by the unsuccessful party. The tribunal itself does not have the power to enforce or award costs.</p>
      <p>Check if you're able to <a href="https://www.gov.uk/get-help-with-court-fees">get help paying your fees</a> if you’re on a low income or receiving certain benefits.</p>
      <p>
        <a class="button button-start" href="/before_you_start/type_of_tax">Continue</a>
      </p>

    </div>

      <div class="column-one-third">
       <p class="lede">&nbsp</p>
      <h2 class="heading-small">Technical help</h2>
        <nav role="navigation" class="font-xsmall">
              <p><a href="#" data-alert="This feature is not available in this demo">Contact us</a> if you need help using the online service</p>
        </nav>

    </div>
  </div>
</main>

{% endblock %}
