{% extends "layout.html" %}

{% block page_title %}
  Apply to close an enquiry - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('application_type', 'closure');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Apply to close an enquiry</h1>

      <p class="lede">You will have to pay an initial fee of £50 to submit your application unless you are <a href="https://www.gov.uk/get-help-with-court-fees">on a low income or certain benefits</a>.</p>
      <p>You will also have to pay a further fee of £200 towards the cost of a hearing and work on your case through to its completion.</p>
      <p>The judge has the power to decide whether your fees are refunded by the unsuccessful party.</p>
      <h2 class="heading-medium">What you will need</h2>
        <ul class="list list-bullet">
        <li><strong>details of the enquiry you want closed</strong> including the HMRC reference number and name of the tax officer involved</li>
        <li><strong>realistic time for the enquiry to close</strong> so the judge can order HMRC to issue a closure notice by a certain date
        <li><strong><a href="https://drive.google.com/open?id=0B-4PgEZDV9SBczhkbGNDanJEa28">signed approval (PDF, 58Kb)</a></strong> if you want someone to act on your behalf and receive letters from the tax tribunal or attend a hearing</li>
      </ul>
        <a class="button button-start" href="/before_you_start/type_of_tax">Continue</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
