{% extends "layout.html" %}

{% set ptitle = "When do you want the closure notice?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step x of y</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">Please give a realistic timescale within which you wish the Tribunal to order HMRC to close their enquiry.</p>

      <form class="js_route" action="/data_capture/check_answers">

        <div class="form-group">
          <textarea class="form-control form-control-3-4" id="closure_timescale" rows="6" cols="40" data-store></textarea>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


