{% extends "layout.html" %}

{% block page_title %}
  GOV start page - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form class="js_route" action="application_type">

        <h1 class="heading-large">Appeal to the tax tribunal</h1>

        <p class="lede">The Ministry of Justice (MOJ) runs the tax tribunal service. Every case is decided by an independent judge.</p>
        <p>Try and settle your dispute directly first. If you can't, a judge will listen to both sides before making an impartial decision on your case. For more information see the <a href="/guidance/overview">guide to tax tribunals</a>.</p>
        <h2 class="heading-medium">What you will need before you start</h2>
        <ul class="list list-bullet">
        <li><strong>digital copies of the decision letter(s)</strong> - scan or take a photo of the original notice or decision letter (or review conclusion letter if you had a review)</li>
        <li><strong>reasons why you're appealing</strong> - write out your grounds of appeal so they are ready to copy and paste or upload as a document</li>
        <li><strong>a way to pay your initial tribunal fee</strong> - you can pay by debit/credit online or you may get <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a> if you're on a low income or certain benefits</li>
        <li><strong>approval to act for someone else</strong> - you will need <a href="https://drive.google.com/open?id=0B-4PgEZDV9SBczhkbGNDanJEa28">authorisation from the taxpayer (PDF, 58Kb)</a> to receive correspondence or act as their representative</li>
      </ul>

      <p class="notice util_mt-large">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          You can't save details as you go. Please get everything ready before you start.
        </strong>
      </p>

      <p>
        <input type="submit" class="button button-start" value="Start now">
      </p>
      <h2 class="heading-medium">Other ways to submit an appeal</h2>
      <ul class="list list-bullet">
        <li>You can use <a class="external" rel="external" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForms.do?court_forms_category=Tax%20(First-tier%20Tribunal)">paper forms</a> to submit an appeal (T240) or close an enquiry (T245)</li>
        <li>
          Send your form by post to First-tier Tribunal (Tax Chamber), PO Box 16972, Birmingham, B16 6TZ
        </li>
      </ul>
      </form>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Courts, sentencing and tribunals</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
              <li><a href="https://www.gov.uk/court-fees-what-they-are">Court and tribunal fees</a></li>
              <li><a href="https://www.gov.uk/tax-tribunal">Guide to tax tribunals</a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
            <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}
