{% extends "layout.html" %} {% block page_title %} Do childminder training {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/before_you_start_v2/start">Appeal to tax tribunal</a>
      </li>
      <li>
        Enter appeal details
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/before_you_start_v2/start" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Enter appeal details
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Enter appeal details
          </legend>

          <p id="reason_for_task">To be legal a childminder, you need to professional training.</p>

          <p>Tasks to do childminder training:</p>

          <ol class="list list-number">
            <li><a href="#">contact your local council to find training in your area</a></li>
            <li>book and pay for training</li>
            <li>do training</li>
            <li>recieve first aid certificate</li>
          </ol>

          <input type="hidden" name="appeal_information" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Task complete" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}