{% extends "layout.html" %}

{% block page_title %}
  Start your appeal - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Heading - start page for no fees</h1>

      <p class="lede">NO FEES COPY LOREM IPSUM</p>
      <p>Lorem ipsum</p>

      <p>
        <a class="button button-start" href="/before_you_start/hmrc_challenge">Continue</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
