{% extends "layout.html" %}

{% block page_title %}
  Start your appeal - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Appeal against a tax decision</h1>

      <p class="lede">You have 30 calendar days from the date of the decision letter to submit an appeal.</p>
      <p>You can still appeal late with good reasons. The judge will decide whether to accept your appeal after the deadline.</p>
      <h2 class="heading-medium">What you will need</h2>

        <ul class="list list-bullet">
        <li><strong>a scan or photo</strong> of the original notice letter, or review conclusion letter, so it's ready to upload in a digital format</li>
         <li><strong>written reasons for your appeal</strong> to copy and paste or attach as a document</li>
         <li><strong><a href="https://drive.google.com/open?id=0B-4PgEZDV9SBczhkbGNDanJEa28">signed approval (PDF, 58Kb)</a></strong> if you want someone to act on your behalf and receive letters from the tax tribunal or attend a hearing</li>
      </ul>
       <p class="notice util_mt-large">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          You can't save details so get everything ready before you start
        </strong>
      </p>
      <p>
        <a class="button button-start" href="/before_you_start/hmrc_challenge">Continue</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
