#debugPanel {
  position: fixed;
  right: 4px;
  top: 4px;
  width: 150px;
  padding: 5px;
  background-color: $white;
  border: 2px solid $yellow;
  z-index: 200;

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
  }

  li {
    cursor: pointer;
  }
}
