table {
  margin-bottom: $gutter;
}

td.details {
  font-weight: bold;
}

.expandable-demo tr {
  vertical-align: top;
}

.expandable-demo caption {
  display: none;
}

td li strong { // TODO: remove this, it's horrible
  display: block;
}
