{% extends "layout.html" %}

{% set ptitle = "You must challenge the original decision before you can appeal" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">For your type of tax dispute you must challenge the decision first.</p>

      <ul class="list list-bullet">
        <li>Must challenge decision first <a href="#">(link?)</a></li>
        <li>If 45 days past must apply to tribunal to request for late review  <a href="#">(link?)</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


