{% extends "layout.html" %}

{% set ptitle = "You must challenge the decision before you can appeal" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">The original notice letter will say how you can query or challenge the decision.</p>
      <p>
      You can appeal to the tax tribunal once you have written to challenge the decision.
      </p>
      <p>If you accepted or asked for a review, you can only appeal to the tribunal once you receive a review conclusion letter, or wait for 45 days without receiving one.</p>
      <p>
      Please note, you can only appeal to the tax tribunal to get your things back (or the equivalent value). You cannot challenge whether it was legal to seize the goods or not. 
      <p>See your <a href="https://www.gov.uk/customs-seizures/overview">options when customs seizes your things</a>.</p>

    </div>
  </div>
</main>

{% endblock %}


