{% extends "layout.html" %} {% block page_title %} Apply to Ofsted {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/task_list">Become a childminder</a>
      </li>
      <li>
        Apply to Ofsted
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/task_list/" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Apply to Ofsted
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Apply to Ofsted
          </legend>

          <p id="reason_for_task">To be a childmindee two people need to write references recommending you.</p>

          <p>Tasks to apply to Ofsted:</p>

          <ol class="list list-number">
            <li><a href="http://www.gateway.gov.uk/">get Government Gateway account</a></li>
            <li>have to hand DBS certificate, traing certificates and references</li>
            <li><a href="https://online.ofsted.gov.uk/OnlineOfsted/default.aspx">apply online</a></li>
            <li><a href="https://www.gov.uk/pay-ofsted-registration-annual-fee">pay registration fee</a></li>
          </ol>

          <input type="hidden" name="apply_to_ofsted" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Task complete" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}