{% extends "layout.html" %}

{% block page_title %}
  What is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('tax_type') === 'vat') {
      $('input[value="paye_code"]').closest('label').hide();
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 2 of 4</p>
      <h1 class="heading-large">What is your income tax dispute?</h1>

      <p class="lede">The type of tax, decision or application will be stated on the original notice or decision letter. You can only submit an appeal to the independent tribunal based on the details shown in one decision or review letter.</p>

      <form class="js_route js_store_answers" action="fee" data-number="2">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="dispute_type" type="radio" value="penalty" data-destination="penalty_detail" />
              <strong>Penalty or surcharge</strong><br>
              for example, for a late return or late payment
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="other" data-store="fee=200,appeal=true" />
              <strong>Amount of tax owed</strong>
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="paye_code" data-store="fee=50,direct=true,appeal=true" />
              <strong>Pay As You Earn (PAYE) coding notice</strong><br>
              the code used to work out how much tax is taken from your pay
            </label>

          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with types of dispute</summary>
        <div class="panel">
          <p>The type of HMRC decision will be stated on the original notice letter you received from HMRC, or the decision letter if you had an appeal or review with HMRC.</p>

          <p>The last official letter you received from HMRC provides important details for your case. The type of tax, the amount of tax, or any penalty that you are being asked to pay will be outlined in this letter. The details in your letter essentially form the basis of your appeal to the independent tribunal.</p>

          <p>You can only submit an appeal to an independent tribunal based on the contents of a single decision or review letter.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


