{% extends "layout.html" %}

{% block page_title %}
  What is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('tax_type').toLowerCase() === 'income tax') {
      $('input[value="paye_code"]').closest('label').removeClass('js-hidden');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 3 of 5</p>
      <h1 class="heading-large">What is your dispute about?</h1>

      <p class="lede">Your dispute will be stated on either the original notice letter from HMRC, or the review conclusion letter if your case was reviewed.</p>
      <p>You can't combine separate disputes on separate letters into one appeal.</p>

      <form class="js_route js_store_answers" action="fee" data-number="2">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="dispute_type" type="radio" value="penalty" data-destination="penalty_detail" data-store="hardship=no" />
              <strong>Late return or payment</strong><br>
              penalty or surcharge for late filing of returns and documents or late payment of duties
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="amount_of_tax_owed" data-store="fee=200" />
              <strong>Amount of tax owed</strong>
            </label>

            <label class="block-label js-hidden">
              <input name="dispute_type" type="radio" value="paye_code" data-store="fee=50" />
              <strong>Pay As You Earn (PAYE) coding notice</strong><br>
              the code used to work out how much tax is taken from your pay
            </label>

            <label class="block-label" data-target="other_dispute_type_detail">
              <input name="dispute_type" type="radio" value="none_of_the_above" data-store="fee=200" />
              <strong>None of the above</strong>
            </label>
            <div class="form-group js-hidden" id="other_dispute_type_detail">
              <div class="panel">
                <label class="form-label" for="other_dispute_type">
                  What is your dispute about?
                </label>
                <input class="form-control" type="text" id="other_dispute_type" data-store>
              </div>
            </div>

          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with types of dispute</summary>
        <div class="panel">
          <p>The type of HMRC decision will be stated on the original notice letter you received from HMRC, or the review conclusion letter if you had a review with HMRC.</p>

          <p>The last official decision letter you received from HMRC provides important details for your case. The type of tax, the amount of tax, or any penalty that you are being asked to pay will be outlined in this letter. The details in your letter essentially form the basis of your appeal to the independent tribunal.</p>

          <p>You can only submit an appeal to an independent tribunal based on the contents of a single decision or review letter.</p>

          <p>You can't combine separate disputes on separate letters into one appeal.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


