{% extends "layout.html" %}

{% block page_title %}
  What is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('tax_type') && moj.Modules.dataStore.getItem('tax_type').toLowerCase() === 'income tax') {
      $('input[value="paye_code"]').closest('label').removeClass('js-hidden');
    }
    if(moj.Modules.dataStore.getItem('direct') && moj.Modules.dataStore.getItem('direct').toLowerCase() === 'yes') {
      $('input[value="closure_notices"]').closest('label').removeClass('js-hidden');
    }
    if(moj.Modules.dataStore.getItem('tax_type').toLowerCase() === 'info_notice') {
      $('input:not([value="penalty"],[value="appeal_info_notice"])').closest('label').addClass('js-hidden');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 3 of 7</p>
      <h1 class="heading-large">What is your dispute about?</h1>

      <p class="lede">Your dispute will be stated on either the original notice letter from HMRC, or the review conclusion letter if your case was reviewed.</p>
      <p>You can't combine separate disputes on separate letters into one appeal.</p>

      <form class="js_route js_store_answers" action="fee" data-number="2">
        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">What is your dispute about?</legend>
            <label class="block-label">
              <input name="dispute_type" type="radio" value="penalty" data-destination="penalty_detail" data-store="hardship=no" />
              <strong>Penalty or surcharge</strong><br>
              for late filing of returns and documents, late payment of duties, inaccuracies, or non-compliance with information notices or Schedule 41
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="amount_of_tax_owed" data-destination="tax_amount"  data-store="fee=200" />
              <strong>Amount of tax</strong><br>
              either tax you owe or money that HMRC should pay to you
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="amount_of_tax_owed" data-destination="penalty_tax_amount"  data-store="fee=200" />
              <strong>Amount of tax and a penalty or surcharge</strong><br>
              both of these disputes will be stated on either the original notice letter from HMRC or the review conclusion letter
            </label>

            <label class="block-label js-hidden">
              <input name="dispute_type" type="radio" value="paye_code" data-store="fee=50" />
              <strong>Pay As You Earn (PAYE) coding notice</strong><br>
              the code used to work out how much tax is taken from your pay
            </label>

            <label class="block-label js-hidden">
              <input name="dispute_type" type="radio" value="closure_notices" data-destination="fee" data-store="fee=50,dispute_type=closure,direct=yes,hardship=no" />
              <strong>Apply to close an enquiry</strong><br>
              request a closure notice for an ongoing enquiry into your tax returns
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="appeal_info_notice"  data-store="fee=50" />
              <strong>Appeal against an information notice</strong>
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="apply_decision"  data-store="fee=50" />
              <strong>Apply for a decision on an enquiry</strong><br>
              force HMRC to issue a counteraction notice
            </label>

            <label class="block-label" data-target="other_dispute_type_detail">
              <input name="dispute_type" type="radio" value="none_of_the_above" data-store="fee=200" />
              <strong>None of the above</strong>
            </label>

          </fieldset>

          <div class="panel js-hidden" id="other_dispute_type_detail">
            <fieldset data-required data-error="Please enter an answer">
              <label class="form-label" for="other_dispute_type">
                What is your dispute about?
              </label>
              <input class="form-control" type="text" id="other_dispute_type" data-store>
            </fieldset>
          </div>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with types of dispute</summary>
        <div class="panel">
          <p>The type of HMRC decision will be stated on the original notice letter you received from HMRC, or the review conclusion letter if you had a review with HMRC.</p>

          <p>The last official decision letter you received from HMRC provides important details for your case. The type of tax, the amount of tax, or any penalty that you are being asked to pay will be outlined in this letter. The details in your letter essentially form the basis of your appeal to the independent tribunal.</p>

          <p>You can only submit an appeal to an independent tribunal based on the contents of a single decision or review letter.</p>

          <p>You can't combine separate disputes on separate letters into one appeal.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


