{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a href="">Back</a> &nbsp; Step 6 of 6</p>
    <h1 class="heading-large">Tax tribunal lodgement fee</h1>

  <div class="govuk-box-highlight">
    <h1 class="bold-large">Your appeal to tax tribunal will cost
    <br>
    <br>
      £20 - 50 - 200
    </h1>
  </div>

  <p>We have sent you a confirmation email.</p>
  <h2 class="heading-medium">What happens next</h2>
  <p>
    The tribunal will continue to work on your case.  They will send you an
    invoice and may contact you to ask for more information.
  </p>
  <p>
    <a href="#">What did you think of this service?</a> (takes 30 seconds)
  </p>

  <p>
    <a class="link-back" href="case_requests">Find another case</a>
  </p>

</main>

{% endblock %}
