{% extends "layout.html" %}

{% block page_title %}
  Tax tribunal lodgement fee - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back" href="">Back</a> &nbsp; Step 6 of 6</p>
  <h1 class="heading-large">Tax tribunal lodgement fee</h1>

  <div class="govuk-box-highlight">
    <h2 class="bold-large">Your appeal to tax tribunal will cost
      <span class="display-block fee-display">
        £<span class="write-value" data-key="fee">20</span>
      </span>
    </h2>
  </div>

  <p>We have sent you a confirmation email.</p>

  <h2 class="heading-medium">What happens next</h2>
  <p>
    The tribunal will continue to work on your case.  They will send you an
    invoice and may contact you to ask for more information.
  </p>
  <p>
    <a href="#">What did you think of this service?</a> (takes 30 seconds)
  </p>

  <p>
    <a class="link-back" href="start">Start again</a>
  </p>

</main>

{% endblock %}
