{% extends "layout.html" %}

{% block page_title %}
  Tax tribunal lodgement fee - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('mode') === 'task_list') {
      moj.Modules.dataStore.storeItem('task_determine_fee', 'complete');
      $('a.js-next').attr('href', '/end_to_end/start-task-list').text('Continue');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 4 of 4</p>
  <h1 class="heading-large">Find out your fee</h1>

  <div class="govuk-box-highlight">
    <h2 class="bold-large">To start an appeal you will have to pay
      <span class="display-block fee-display">
        £<span data-key="fee">20</span>
      </span>
    </h2>
 </div>
 <div>
    <h2 class="heading-medium">Your answers</h2>
    <p>
    Your fee is based on the following:
    <ul class="list list-bullet your-answers">
        <li>Type of tax: Income tax (e.g. PAYE, self-assessment)</li>
        <li>Type of dispute: Penalty or surcharge</li>
        <li>Penalty amount: £100</li>
    </ul>
    <p>
    Details not correct? <a class="link-back" href="start">Start again to change your answers.</a>
    </p>
    <h2 class="heading-medium">Your fees</h2>
    <p>
    Before your appeal can start, you will need to pay
    <strong>£<span data-key="fee">20</strong></span>
    for the tribunal to process your case.
    </p>
    <p>
    In cases like yours, there is typically no need for a hearing in person and there will be no further fees to pay.
    </p>
    <p>
    You may be able to <a class="external" rel="external" href="https://www.gov.uk/get-help-with-court-fees">get help paying your fee</a> if you’re getting certain benefits or on a low income.

                <table class="expandable-demo">
              <caption>Table explaining the fees for different types of appeals or applications</caption>
              <thead>
                <tr>
                  <th scope="col">Type of appeal or application</th>
                  <th scope="col">Processing fee</th>
                  <th scope="col">Hearing fee</th>
                  <th scope="col">Estimated duration</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <ul class="list list-bullet">
                      <li><strong>Penalty of £100 or less</strong>
                        (e.g. for late self-assessment)</li>
                    </ul>
                  </td>
                  <td>£20</td>
                  <td>—</td>
                  <td>3 - 6 months</td>
                </tr>
   </tbody>
 </table>

   <h2 class="heading-medium">Refunds</h2>
    <p>
    The tribunal judge is independent of government and will listen to both sides of the argument before making a decision. They also have the power to decide whether you should be reimbursed for any costs including your tax tribunal fees.
    </p>
    <p>
    If the tribunal rejects your appeal or the judge decides not to award you costs, you will not be able to claim back any tax tribunal fees.
    </p>

   <h2 class="heading-medium">What happens next</h2>
    <p>
    Check if you’re in time to make an appeal to the tax tribunal or whether you need to give reasons why you’re appealing late.
    </p>

    <p>
      <a class="button button-start js-next" href="hmrc_view">Yes, continue with appeal</a>
    </p>
<!--     <p>
      <a class="button button-start" href="#">No</a>
    </p> -->


  <p>
    <a class="link-back" href="start">Start again</a>
  </p>
 </div>
</main>

{% endblock %}
