{% extends "layout.html" %}

{% set ptitle = "Did HMRC allow you to defer paying because of financial hardship?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 6 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">If HMRC said no, you can ask the judge to consider your reasons.</p>
        <form class="js_route js_store_answers" action="fee">

          <div class="form-group">
            <fieldset data-required data-error="Please select an answer">
              <legend class="visuallyhidden">{{ ptitle }}</legend>
              <label class="block-label">
                <input name="hardship_application_status" type="radio" value="Granted" data-store="hardship_application_status=granted" />
                Yes
              </label>


              <label class="block-label">
                <input name="hardship_application_status" type="radio" value="Refused" data-store="hardship_application_status=refused" />
                No
              </label>

              <label class="block-label">
                <input name="hardship_application_status" type="radio" value="Pending" data-store="hardship_application_status=pending" />
                I am waiting for a decision
              </label>
            </fieldset>
          </div>

          <p class="actions">
            <input class="button" type="submit" value="Continue">
            <a class="save-link" href="#">Save and come back later</a>
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}
