{% extends "layout.html" %}

{% set ptitle = "You will have to pay the tax amount upfront or apply for hardship first" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 7 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">When you submit an appeal for the amount of VAT or any 'indirect' tax you owe, you must do one of the following before the tax tribunal can consider your appeal.
      </p>
      <ul class="list list-bullet">
      <li>pay the amount owed upfront</li>
      <li>ask HMRC to defer payment, this is known as a hardship application</li>
      </ul>

      <p>You do not have to apply for hardship if your appeal is about a penalty or surcharge.</p>

        <form class="js_route" action="http://www.gov.uk">

          <p>
            <input class="button" type="submit" value="Contact HMRC">
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}
