{% extends "layout.html" %}

{% set ptitle = "Have you paid the amount of tax under dispute?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
  if(moj.Modules.dataStore.getItem('other_dispute_type')) {
    $('input[name="paid_disputed_tax"][value="n/a"]').closest('.js-hidden').removeClass('js-hidden');
  }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 4 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">If you can't pay because it will cause you financial hardship, you can still continue your appeal.</p>

        <form class="js_route js_store_answers" action="fee">

          <div class="form-group">
            <fieldset data-required data-error="Please select an answer">
              <legend class="visuallyhidden">{{ ptitle }}</legend>
              <label class="block-label">
                <input name="paid_disputed_tax" type="radio" value="Yes" data-store="paid_disputed_tax=yes" />
               Yes
              </label>

              <label class="block-label">
                <input name="paid_disputed_tax" type="radio" value="No" data-store="paid_disputed_tax=no" data-destination="hardship_hmrc_applied" />
               No
              </label>

              <label class="block-label js-hidden">
                <input name="paid_disputed_tax" type="radio" value="n/a" data-store="paid_disputed_tax=n/a" />
                Not applicable - no amount is under dispute
              </label>
            </fieldset>
          </div>

          <p class="actions">
            <input class="button" type="submit" value="Continue">
            <a class="save-link" href="#">Save and come back later</a>
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}
