{% extends "layout.html" %}

{% set ptitle = "Did you apply for financial hardship?" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 5 of 7</p>
      <h1 class="heading-large">{{ ptitle }}</h1>

      <p class="lede">You can still continue if you select 'No'. The tax tribunal will keep your appeal as pending until you ask HMRC to defer paying the tax because of financial hardship.</p>

        <form class="js_route js_store_answers" action="hardship_hmrc_status">

          <div class="form-group">
            <fieldset data-required data-error="Please select an answer">
              <legend class="visuallyhidden">{{ ptitle }}</legend>
              <label class="block-label">
                <input name="hardship_applied_for" type="radio" value="Yes" data-store="hardship_applied_for=yes" />
                Yes
              </label>

              <label class="block-label">
                <input name="hardship_applied_for" type="radio" value="No" data-store="hardship_applied_for=no" data-destination="fee" />
                No
              </label>
            </fieldset>
          </div>

          <p>
            <input class="button" type="submit" value="Continue">
          </p>

        </form>

      </div>

    </div>
  </div>
</main>

{% endblock %}
