{% extends "layout.html" %}

{% block page_title %}
  Have you challenged HMRC? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.deleteItem('direct');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 1 of 7</p>
      <h1 class="heading-large">Did you write to challenge the original decision with HMRC?</h1>

      <p class="lede">If you accepted or asked for a review, you must wait until you receive a review conclusion letter or 45 days passes without receiving one.</p>
    
      <form class="js_route" action="type_of_tax">
        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">Did you challenge the original decision with HMRC?</legend>
            <label class="block-label">
              <input name="hmrc_challenge" type="radio" value="yes" data-store="hmrc_challenge=yes" />
              Yes
            </label>

            <label class="block-label">
              <input name="hmrc_challenge" type="radio" value="no" data-store="hmrc_challenge=no" />
              No
            </label>

            <label class="block-label">
              <input name="hmrc_challenge" type="radio" value="not_hmrc" data-store="hmrc_challenge=no" />
              My dispute isn't with HMRC
            </label>

          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with challenging HMRC  directly</summary>
        <div class="panel">
          <p>HMRC will tell you on the original notice letter how you can query or challenge a tax decision.</p>
          <p>It is free to ask HMRC to look into your tax issue again. You can still appeal to the tax tribunal after challenging HMRC.</p>
          <p>
        If you accepted or asked for a review, you should wait until it ends or allow 45 days before appealing. Your appeal risks being rejected if a review is ongoing.
      </p>
          <p>Find out more about how to <a href="https://www.gov.uk/tax-appeals">challenge a tax decision with HMRC</a>.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}
