{% extends "layout.html" %}

{% block page_title %}
  What is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step X of Y</p>
      <h1 class="heading-large">From the date you've given us your appeal is late</h1>

      <p class="lede">If your appeal is late you will need to provide a reason for being late.</p>

      <form class="js_route" action="/data_capture/appellant_details">

        <div class="form-group">
          <label class="form-label" for="lateness-reason">
            Reason(s) for late appeal
          </label>
          <textarea class="form-control form-control-3-4" id="lateness_reason" rows="4" cols="40" data-store></textarea>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with types of appeal</summary>
        <div class="panel">
          <p>You can only choose one reason per appeal. For example if you wanted to appeal against both a penalty and the amount you owe, you will need to make two separate appeals to the tax tribunal.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


