{% extends "layout.html" %}

{% block page_title %}
  Is your dispute about a deliberately innaccurate tax return? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 3 of 4</p>
      <h1 class="heading-large">What type of inaccurate return do HRMC claim you have filed?</h1>

      <p class="lede">HMRC will explicitly state whether they think your return was inaccurate for careless or deliberate reasons. Select the option that HMRC claim you have filed.</p>

      <form class="js_route js_store_answers" action="fee" data-number="2">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="deliberate" type="radio" value="low" data-store="fee=50,direct=n/a,hardship=no" />
              Careless inaccuracy
            </label>

            <label class="block-label">
              <input name="deliberate" type="radio" value="mid" data-store="fee=200,direct=n/a,hardship=no" />
              Deliberate inaccuracy
            </label>
          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}


