{% extends "layout.html" %}

{% block page_title %}
  What is the penalty or surcharge amount? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 4 of 7</p>
      <h1 class="heading-large">What is the penalty or surcharge amount?</h1>

      <p class="lede">Select an option below based on the amount shown on the original notice letter or review conclusion letter you received from HMRC.</p>

      <form class="js_route js_store_answers" action="penalty_amount" data-number="3">
        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">What is the penalty or surcharge amount?</legend>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="low" data-store="fee=20" />
              £100 or less
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="mid" data-store="fee=50" />
              £101 – £20,000
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="high" data-store="fee=200" />
              £20,001 or more
            </label>
          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}


