{% extends "layout.html" %}

{% block page_title %}
  Find out appeal costs - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('mode', 'task_list');
  </script>
{% endblock %}

{% block body_classes %}clear-session{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">1. Find out the cost of your appeal</h1>

      <p class="lede">You will need to pay an initial fee of £20, £50 or £200 to submit an appeal unless you're eligible for <a href="https://www.gov.uk/get-help-with-court-fees">help with fees</a>.</p>
      <p>You may also have to pay a further fee if your case needs further documents, correspondence and a hearing in person with a judge.</p>
      <details>
        <summary>See how much your appeal or application might cost</summary>

        <div class="panel">
          <table class="expandable-demo">
            <caption>Table explaining the fees for different types of appeals or applications</caption>
            <thead>
              <tr>
                <th scope="col">Type of appeal or application</th>
                <th scope="col">Initial fee</th>
                <th scope="col">Further fee</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Penalty of £100 or less (e.g. for late self-assessment)</li>
                  </ul>
                </td>
                <td>£20</td>
                <td>—</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Penalty of £101 to £2,000 (e.g. for late filing or payment)</li>
                  </ul>
                </td>
                <td>£50</td>
                <td>—</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Penalty of £2,001 to £20,000</li>
                    <li>Inaccurate return (careless)</li>
                    <li>Information notice</li>
                    <li>Closure notice</li>
                    <li>Pay As You Earn (PAYE) coding notice</li>
                    <li>Request a late review</li>
                  </ul>
                </td>
                <td>£50</td>
                <td>£200</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>All other types of appeal or application</li>
                  </ul>
                </td>
                <td>£200</td>
                <td>£500</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Appeals over £1 million or principles of law</li>
                  </ul>
                </td>
                <td>£200</td>
                <td>£1,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <p>The judge has the power to decide whether your fees are refunded when they look at your case. The tribunal itself does not have the power to enforce or award costs.</p>
      <p>Check if you're able to <a href="https://www.gov.uk/get-help-with-court-fees">get help paying your fees</a> if you’re on a low income or receiving certain benefits.</p>
      <p>
        <a class="button button-start" href="hmrc_challenge">Continue</a>
      </p>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Courts, sentencing and tribunals</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
              <li><a href="https://www.gov.uk/court-fees-what-they-are">Court and tribunal fees</a></li>
              <li><a href="https://www.gov.uk/tax-tribunal">Appeal to a tax tribunal</a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
            <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}
