{% extends "layout.html" %}

{% block page_title %}
  Find out appeal costs - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">1. Find out the cost of your appeal</h1>

      <p class="lede">You will need to pay an initial fee of £20, £50 or £200 unless you are <a href="https://www.gov.uk/get-help-with-court-fees">on a low income or certain benefits</a>.</p>
      <p>You will also have to pay a further fee if your case is more complex and needs a hearing in person with a judge.</p>

      <p>The judge has the power to decide whether your fees are reimbursed by the unsuccessful party.</p>

      <details>
        <summary>See how much your appeal might cost</summary>

        <div class="panel">
          <table class="expandable-demo">
            <caption>Table explaining the fees for different types of appeals or applications</caption>
            <thead>
              <tr>
                <th scope="col">Type of appeal</th>
                <th scope="col">Initial fee</th>
                <th scope="col">Further fee</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Penalty of £100 or less</li>
                  </ul>
                </td>
                <td>£20</td>
                <td>—</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Penalty of over £100 to £2,000</li>
                  </ul>
                </td>
                <td>£50</td>
                <td>—</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Penalty of over £2,000 to £20,000</li>
                    <li>Appeal against an information notice</li>
                    <li>Pay As You Earn (PAYE) coding notice</li>
                    <li>Request permission for a late review</li>
                    <li>Request HMRC issue a counteraction notice</li>
                  </ul>
                </td>
                <td>£50</td>
                <td>£200</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>All other types of appeal or application *</li>
                  </ul>
                </td>
                <td>£200</td>
                <td>£500</td>
              </tr>
              <tr>
                <td>
                  <ul class="list list-bullet">
                    <li>Appeals over £1 million or principles of law</li>
                  </ul>
                </td>
                <td>£200</td>
                <td>£1,000</td>
              </tr>
            </tbody>
          </table>
        </div>
         <p class="font-xsmall">* excluding those attached to a main appeal (for example applications for hardship or postponement of tax) which have no fee to pay</p>
      </details>

      <p>
        <a class="button button-start" href="hmrc_challenge">Continue</a>
      </p>

    </div>

  </div>
</main>

{% endblock %}
