{% extends "layout.html" %}

{% block page_title %}
  What is the amount of tax? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 5 of 7</p>
      <h1 class="heading-large">What is the amount of tax in dispute?</h1>

      <p class="lede">Enter the amount shown on the original notice letter or review conclusion letter you received from HMRC.</p>

      <form class="js_route" action="fee" data-number="3">
        <fieldset>
          <div class="form-group">
            <label class="form-label" for="tax_amount">
              The amount of tax you are disputing (optional)
            </label>
            <input class="form-control" type="number" id="tax_amount" data-store>
          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}


