{% extends "layout.html" %}

{% block page_title %}
  What other type of tax is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 3 of 4</p>
      <h1 class="heading-large">What is your appeal about?</h1>

      <p class="lede">The type of tax, decision or application is usually shown on the original notice letter from HMRC, or decision letter (if you had an appeal or review with HMRC).</p>

      <form class="js_route" action="fee">
        <fieldset>
           <div class="form-group form-group-day">
              <label for="dob-day">
               Enter the tax, decision or application involved in your appeal
              </label>
              <input class="form-control" id="dispute_other" name="dispute_other" type="text" data-store="fee=50" >
            </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}
