{% extends "layout.html" %}

{% block page_title %}
  What type of tax is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.deleteItem('challenge_redirect');

    if(moj.Modules.dataStore.getItem('application_type') === 'closure') {
      $('#closure_text').text('What type of tax return is under enquiry?');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 2 of 7</p>
      <h1 class="heading-large" id="closure_text">What is your appeal about?</h1>

      <p class="lede"><span class="js-hidden" data-dependent="application_type=appeal">You will find this information on either the original notice letter or review conclusion letter.</span>

      <span class="js-hidden" data-dependent="application_type=closure">The tax tribunal can only receive applications to close the following types of enquiry.</span></p>


      <form class="js_route js_store_answers" action="dispute_type" data-number="1">
        <div class="form-group">
          <fieldset data-required data-error="Please select an answer">
            <legend class="visuallyhidden">What is your appeal about?</legend>

            <div data-dependent="application_type=appeal">
              <label class="block-label">
                <input name="tax_type" type="radio" value="income_tax" data-store="tax_type=Income tax,direct=true,hardship=no" />
                <strong>Income Tax</strong><br>
                including tax paid through Pay As You Earn (PAYE) and Self Assessment
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="vat" data-store="tax_type=VAT,direct=false,hardship=yes" />
                <strong>Value Added Tax (VAT)</strong>
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="capital_gains_tax" data-store="tax_type=Capital gains tax,direct=true,hardship=no" />
                <strong>Capital Gains Tax</strong>
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="corporation_tax" data-store="tax_type=Corporation tax,direct=true,hardship=no" />
                <strong>Corporation Tax</strong>
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="inaccurate_returns" data-destination="penalty_detail" data-store="direct=n/a,hardship=no" />
                <strong>Inaccurate return penalty</strong>
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="information notice" data-store="fee=50,direct=n/a,hardship=no,tax_type=info_notice" />
                <strong>Information notices</strong>
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="other" data-destination="types_tax_other" />
                <strong>Other type of tax<span class="js-hidden" data-dependent="application_type=appeal">, appeal or application</span></strong>
              </label>
            </div>

              <label class="block-label">
                <input name="tax_type" type="radio" value="income_tax" data-store="tax_type=Capital Gains Tax return,direct=true,hardship=no" />
                Capital Gains Tax
              </label>

            <div data-dependent="application_type=closure">
              <label class="block-label">
                <input name="tax_type" type="radio" value="income_tax" data-store="tax_type=Corporation Tax self-assessment,direct=true,hardship=no" />
                Corporation Tax
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="income_tax" data-store="tax_type=Income Tax return,direct=true,hardship=no" />
                Income Tax
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="income_tax" data-store="tax_type=Partnership Tax return,direct=true,hardship=no" />
                Partnership Tax
              </label>

              <label class="block-label">
                <input name="tax_type" type="radio" value="income_tax" data-store="tax_type=Stamp Duty Land Tax,direct=true,hardship=no" />
                Stamp Duty Land Tax
              </label>
            </div>
          </fieldset>
        </div>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}
