{% extends "layout.html" %}

{% block page_title %}
  What type of tax is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back" href="">Back</a> &nbsp; Step 4 of 6</p>
      <h1 class="heading-large">What type of tax is your dispute about?</h1>

      <p class="lede">Select the option that is relevant to you.</p>

      <form class="js_route" action="fee">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="tax_type" type="radio" value="tax" data-destination="types_taxes" />
              Tax (including self-assessment, corporate and value added tax (VAT))
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="duties" data-destination="types_duties" />
              Duty (including stamp duties)
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="levies" data-destination="types_levies" />
              Levy
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="statutory_payments" data-destination="types_payments" />
              Payment or repayment (including student loans)
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="other" data-destination="types_tax_other" />
              Other
            </label>
          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}
