{% extends "layout.html" %}

{% block page_title %}
  What type of tax is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 1 of 4</p>
      <h1 class="heading-large">What is your appeal about?</h1>

      <p class="lede">The type of tax or HMRC decision you’re appealing about will be shown on the last letter you had from HMRC. This could be the original notice letter from HMRC or the decision or conclusion letter if you had an appeal or review with HMRC.</p>
      <p>If the tax is not listed below or you’re making a different type of appeal or application, please select ‘other’.</p>

      <form class="js_route" action="dispute_type">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="tax_type" type="radio" value="income_tax" />
              <strong>Income tax</strong><br>
              for example, Pay As You Earn (PAYE), self assessments
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="vat" />
              <strong>Value added tax (VAT)</strong>
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="corporation_tax" data-destination="fee" data-store="fee=50" />
              <strong>Advance Payment Notice (APN)</strong><br>
               including Disclosure Of Tax Aviodance Schemes (DOTAS)
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="inaccurate_returns" data-destination="inaccurate_returns"  />
              <strong>Inaccurate returns</strong>
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="closure_notices" data-destination="fee" data-store="fee=50" />
              <strong>Closure notice</strong><br>
              Explanation?
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="information notice" data-destination="fee" data-store="fee=50"  />
              <strong>Information notice</strong><br>
              Explanation?
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="information notice" data-destination="fee" data-store="fee=50"  />
              <strong>Application for permission from the tribunal</strong><br>
              for example, requests to HMRC, UK Border Force (UKBF), National Crime Authority (NCA) for review requests
            </label>

            <label class="block-label">
              <input name="tax_type" type="radio" value="other" data-destination="types_tax_other" />
              <strong>Other</strong>
            </label>
          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}
