{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Saving your application
        </h1>

        <br>

        <p>You can save your application and return to it at any time.</p> 

        <fieldset>

          <legend class="visuallyhidden">
            Email address
          </legend>

          <label class="form-label" for="memorable_word">
            Memorable word
            <span class="form-hint">For example your secondary school</span>
          </label>
          <input class="form-control" id="memorable_word" type="text" name="memorable_word">

          <br>
          <br>

          <legend class="visuallyhidden">
            Email address
          </legend>

          <label class="form-label" for="email">
          Email address (optional)
          </label>
          <input class="form-control" id="email" type="text" name="email">

          <br>
          <br>

          <details>

          <summary><span class="summary">I don't have a email address</span></summary>

          <div class="panel panel-border-narrow">

            <p>
              If you’re don't have an email, you can save and return with a <a href="#">text message</a>.
            </p>

            <legend class="visuallyhidden">
              Mobile phone number
            </legend>

            <label class="form-label" for="mobile_phone_number">
              Mobile phone number
            </label>
            <input class="form-control" id="mobile_phone_number" type="text" name="mobile_phone_number">

          </div>

          </details>

          <br>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Save application" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
