{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application saved</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">1280880</strong>
        </p>
      </div>
      <p>We have sent you an email you can return to your application with.</p>

    </div>
  </div>

</main>

{% endblock %}
