{% extends "layout.html" %}

{% block page_title %}
  Is your dispute about a deliberately innaccurate tax return? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

    {{formData | safe}}

      <!-- p><a class="link-back js-link-back" href="">Back</a> &nbsp; Step 3 of 6</p -->
      <h1 class="heading-large">Have you reviewed your dispute with HMRC?</h1>

      <p class="lede">Select the option that is relevant to you.</p>

      <form class="js_route" action="../start">
        <fieldset>
          <div class="form-group">
            <label class="block-label">
              <input name="deliberate" type="radio" value="low" data-store="fee=200" />
              Yes
            </label>

            <label class="block-label">
              <input name="deliberate" type="radio" value="mid" data-store="fee=50" />
              No
            </label>
          </div>

          <input type="hidden" name="check_hmrc_review" value="complete">

        </fieldset>

        <p>
          <input type="submit" class="button" value="Continue" />
        </p>

      </form>
    </div>
  </div>
</main>

{% endblock %}


