{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('tc_number', 'TC/2016/123456');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-large">
    <span class="heading-secondary" data-key="tc_number">TC/2016/123456</span>
    <span data-key="appellant_name">Terry Example</span> vs HMRC
  </h1>

  <p class="lede">
    You need to pay fees before the tribunal continues to work on your case.
  </p>

  <div class="notice notice-payment">
    <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="bold-small">
      You may lose the right to appeal if you do not pay your fee within the time limit we give you.
    </strong>
  </div>

  <div class="liabilities-list">
    <h2 class="heading-large">£<span data-key="fee">20</span> Lodgement Fee</h2>
  </div>

  <p class="lede">Select your method of payment</p>

  <form class="js_route" action="pay_credit_card">
    <fieldset>
      <div class="form-group">
        <label class="block-label">
          <input name="payment_type" type="radio" value="debit_credit_card" />
          Debit or credit card
        </label>

        <label class="block-label">
          <input name="payment_type" type="radio" value="help_with_fees" data-destination="pay_hwf" />
          Help with fees
        </label>

        <label class="block-label">
          <input name="payment_type" type="radio" value="account" data-destination="pay_account" />
          Account
        </label>

        <label class="block-label">
          <input name="payment_type" type="radio" value="cheque" data-destination="pay_cheque" />
          Cheque
        </label>

      </div>
    </fieldset>

    <p>
      <input class="button" type="submit" value="Continue">
    </p>

  </form>

  <p>
    <a class="link-back" href="case_requests">Find another case</a>
  </p>

</main>

{% endblock %}
