{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-large">
    <span class="heading-secondary" data-key="tc_number">TC/2012/00001</span>
    <span data-key="appellant_name">Harry Pierce</span> vs HMRC
  </h1>

  <!-- unpaid case -->
  <p class="lede">
    You need to pay fees before the tribunal continues to work on your case.
  </p>

  <div class="notice notice-payment">
    <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="bold-small">
      You may lose the right to appeal if you do not pay your fee within the time limit we give you.
    </strong>
  </div>

  <div class="liabilities-list">

    <div class="grid-row payments-row">
      <div class="column-one-third">
        <div class="data">
          <h2 class="bold-xlarge">£<span data-key="fee">20</span></h2>
          <p class="bold-small">Lodgement Fee</p>
        </div>
      </div>
      <div class="column-two-thirds">
        <p>
          <a class="button" href="pay_now">Pay now</a>
        </p>
        <p class="font-xsmall">
          You will be redirected to GOV.UK Pay, an official secure payments service.
        </p>
      </div>
    </div>

  </div>
  <!-- unpaid case -->

  <p>
    <a class="link-back" href="case_requests">Find another case</a>
  </p>

</main>

{% endblock %}
