{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('tc_number', 'TC/2016/123456');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>&nbsp;</p>
      <p>Pay fee - step 1 of 4</p>
      <h1 class="heading-large">
        Select your payment method
      </h1>

      <form class="js_route" action="pay_credit_card">
        <fieldset>
          <div class="form-group">
            
            <label class="block-label">
              <input name="payment_type" type="radio" value="debit_credit_card" />
              <strong>Debit or credit card</strong>
            </label>

            <label class="block-label">
              <input name="payment_type" type="radio" value="help_with_fees" data-destination="pay_hwf" />
              <strong>Help with fees</strong><br>
              if you're on a low income or certain benefits
            </label>

            <label class="block-label">
              <input name="payment_type" type="radio" value="account" data-destination="pay_account" />
              <strong>Authorised account</strong><br>
              if you have an account set up with HMCTS
            </label>

            <label class="block-label">
              <input name="payment_type" type="radio" value="cheque" data-destination="pay_cheque" />
              <strong>Other</strong>
              <br>pay by cheque or postal order and send your <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure"> application</span></h2> by post
            </label>

          </div>
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

    </div>

        <div class="column-one-third">
         <p>&nbsp;</p>
          <p>&nbsp;</p>
          <div class="liabilities-list">
          <h2 class="heading-large">£<span data-key="fee">20</span> fee to submit your <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure"> application</span></h2>
        </div>


      <div class="notice notice-payment util_mt-large">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          Your <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure"> application</span></h2> will not be valid until you pay your fee
        </strong>
        
      </div>
      </div>
  </div>

</main>

{% endblock %}
