{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 16 of 16</p>
  <h1 class="heading-large">
    <span class="heading-secondary" data-key="tc_number">TC/2012/00001</span>
    <span data-key="appellant_name">Terry Example</span> vs HMRC
  </h1>

  <div class="govuk-box-highlight">
    <h1 class="bold-large">Payment successful</h1>
    <p>
      Your payment reference is
      <strong class="heading-medium">JFM2JH12F109JAE92NPIQCA1MF</strong>
    </p>
  </div>
<p class="lede">
         Your case reference is <strong data-key="tc_number">TC/2016/123456</strong>. Please make a note of this in case you need to contact us about your case.</p>
         <p>We have also sent a confirmation email with the details if you supplied your email address.</p>
         <p><a href="TC_2016_123456_HMRC_TaxpayerFullName.pdf">Save or print your case details</a></p>
  
  <h2 class="heading-medium">What happens next</h2>
  <p>
    The tribunal will continue to work on your case.  They will send you an
    invoice and may contact you to ask for more information.
  </p>
  <div class="form-group">
          <input class="button" type="button" value="Finish" >
        </div>
  <p>
    <a href="#" data-alert="This service is not available in this demo">What did you think of this service?</a> (takes 30 seconds)
  </p>

  <p>
    <a class="link-back" href="case_requests">Find another case</a>
  </p>

</main>

{% endblock %}
