{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Pay fee - step 3 of 3</p>
  <div class="govuk-box-highlight">
    <h1 class="bold-large">Help with fees<br>
    application received</h1>
  </div>
  <h1 class="heading-large">
    <span class="heading-secondary">Your case reference number is:</span>
    <span data-key="tc_number">TC/2012/00001</span>
  </h1>

        <p>
         Please make a note of this number in case you need to contact us.</p>
         <h2 class="heading-medium"><a href="TC_2016_123456_HMRC_TaxpayerFullName.pdf">Save or print your case details (PDF, 124KB)</a></h2>
         <p>We will also send your case reference number and a link to download your case details by email.</p>
  <h2 class="heading-medium">What happens next?</h2>
  <ul class="list list-bullet">
            <li>we will check your details, documents and help with fees application</li>
            <li>we may ask for more information about your case before your appeal can proceed</li>
            <li>we will send the appeal to the other parties involved in the case and ask for their response</li>
          </ul>
  <p>We will let you know at least 14 days before if your case needs a hearing. </p>
  
  <div class="form-group">
          <input class="button" type="button" value="Finish" >
        </div>

</main>

{% endblock %}
