{% extends "layout.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step 16 of 16</p>
  <h1 class="heading-large">
    <span class="heading-secondary" data-key="tc_number">TC/2012/00001</span>
    <span data-key="appellant_name">Terry Example</span> vs HMRC
  </h1>

  <div class="govuk-box-highlight">
    <h1 class="bold-large">Payment successful</h1>
    <p>
      Your payment reference is
      <strong class="heading-medium">JFM2JH12F109JAE92NPIQCA1MF</strong>
    </p>
  </div>
<p class="lede">
         Your case reference is <strong data-key="tc_number">TC/2016/123456</strong>. Please make a note of this in case you need to contact us about your case.</p>
         <p>We have also sent a confirmation email with the details if you supplied your email address.</p>
         <p><a href="TC_2016_123456_HMRC_TaxpayerFullName.pdf">Save or print your case details</a></p>
  
  <h2 class="heading-medium">Your case has been received – what happens next?</h2>
  <p>We will review your case and let you know when it has been accepted.</p>
  <ul class="list list-bullet">
            <li>we will check your details, documents and that you have paid the right fee</li>
            <li>we may ask for more information about your case before your appeal can proceed</li>
            <li>we will send the appeal to HRMC or any other parties involved and ask for their response</li>
            <li>we will contact the taxpayer unless we have authorisation for a representative to act on their behalf</li>
          </ul>
  <p>You will get at least 14 days' notice of the date of any hearing, which will beheld at your nearest tax tribunal venue.<p>

  </p>
  <div class="form-group">
          <input class="button" type="button" value="Finish" >
        </div>

</main>

{% endblock %}
