{% extends "layout.html" %}

{% block page_title %}
  Tax tribunal lodgement fee - Tax Tribunals Prototype
{% endblock %}

{% block head %}
  {{ super() }}
  {% include "includes/paycss.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Pay fee - step 2 of 3</p>
      <h1 class="heading-large">
        Enter your account details
      </h1>

      <form class="js_route" action="confirmation_account">

        <div class="form-group">
          <label class="form-label" for="hwf-reference">Account reference</label>
          <input class="form-control" type="text" id="account-reference" data-store>
        </div>
        <div class="form-group">
          <label class="form-label" for="account-conf-code">Account confirmation code</label>
          <input class="form-control" type="text" id="account-conf-code" data-store>
        </div>

        <p>
          <input class="button" type="submit" value="Pay now">
        </p>

      </form>

    </div>

    <div class="column-one-third">
  <aside class="payment-summary">
    <div class="inner js-stick-at-top-when-scrolling" style="width: 250px;">
     <h2 class="heading-large">£<span data-key="fee">20</span> fee to submit your <span class="js-hidden" data-dependent="application_type=appeal">appeal</span><span class="js-hidden" data-dependent="application_type=closure"> application</span></h2>
    </div>


  </aside>
    </div>
  </div>

</main>

{% endblock %}
