{% extends "layout.html" %}

{% block page_title %}
  Pay by cheque- Tax Tribunals Prototype
{% endblock %}

{% block head %}
  {{ super() }}
  {% include "includes/paycss.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Pay fee - step 2 of 2</p>  
      <h1 class="heading-large">
        Send your appeal by post</h1>
      
      <p class="lede">You will need to send everything by post before the 30 day appeal deadline ends.</p>
      <ol class="list list-number">
      <li><strong>Print out your case details</strong>
      <p>Use the following link to print your case details</p>
      <p><strong><a href="TC_2016_123456_HMRC_TaxpayerFullName.pdf">TaxPayer Name Case details (PDF, 124 KB)</a></strong></p>
      </li>
      <li><strong>Write out a cheque for £<span data-key="fee">20</span></strong>
      <p>Please make your cheque payable to 'HM Courts & Tribunals Service'</p>
      </li>
      <li><strong>Get copies of your decision letters</strong>
      <p>Enclose a copy of either the original notice letter or review conclusion letter. Please note the tax tribunal cannot return any documents.</p></li>

      <li><strong>Send everything together by post</strong>
     <p>You must put your printed case details, cheque and copies of decision letters in one envelope. The tax tribunal address is:</p>
      <address>
        First-tier Tribunal (Tax Chamber)<br>
        PO Box 16972<br> 
        Birmingham<br>
        B16 6TZ
      </address>
      </li>
      </ol>
      <p>Once the tax tribunal has received your appeal they will write to you with details of the next steps.</p>

  <div class="form-group">
          <input class="button" type="button" value="Finish" >
        </div>
      <!--h2 class="heading-medium">What to do next</h2>
      <p>Lorem ipsum</p -->

    </div>

    <div class="column-one-third">
  <aside class="payment-summary">
    <div class="inner js-stick-at-top-when-scrolling" style="width: 250px;">
     <h2 class="heading-large">£<span data-key="fee">20</span> fee to submit your appeal</h2>
    </div>


  </aside>
    </div>
  </div>

</main>

{% endblock %}
