{% extends "layout_email.html" %}

{% block page_title %}
  Email: Tax Tribunals account created
{% endblock %}

{% block content %}

<main id="content" role="main">

  <br><br>
  <div class="text">
    <p class="lede">Your Tax Tribunals case has been saved.</p>

    <p>To resume your application, visit <a href="/save_and_return/sign_in">the Tax Tribunals Service sign-in page</a> and sign in with your email address and the password you created when saving your case.</p>

    <p><strong>Ministry of Justice</strong></p>
  </div>


</main>

{% endblock %}
