{% extends "layout_email.html" %}

{% block page_title %}
  Email: Tax Tribunals account created
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-medium">Your appeal to the Tax Tribunal has been saved</h1>

  <p>You can return to complete your application at any time.</p>

  <p>Your application will be saved for 30 days.</p>

  <p class="notice">
    <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="font-small">When returning to your application, please check you are not late.</strong>
  </p>

  <p>If you are late and do not provide a reason this could delay your appeal.</p>

  <p><a href="/save_and_return/sign_in">Return to Appeal to Tax Tribunal</p>

</main>

{% endblock %}
