{% extends "layout_unbranded.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block body_classes %}index{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Tax Tribunals Prototypes</h1>

  <ul class="list list-bullet">
    <li><a href="/payment_tool/start">Payment tool</a></li>
    <li><a href="/before_you_start/start">"Before you start"</a></li>
    <li><a href="/expandables/start">"Expandables" demo</a></li>
    <li><a href="/data_capture/start">Data capture</a></li>
  </ul>

</main>

{% endblock %}


