{% extends "layout_unbranded.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block body_classes %}index{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Tax Tribunals Prototypes</h1>

  <h2 class="heading-medium">Current journey prototypes</h2>
  <ul class="list list-bullet">
    <li><a href="/before_you_start/start">Before you start (fee determination)</a></li>
    <li><a href="/data_capture/start">Data capture</a></li>
    <li><a href="/payment_tool/start">Payment tool</a></li>
  </ul>

  <h2 class="heading-medium">Demos</h2>
  <ul class="list list-bullet">
    <li><a href="/expandables/start">"Expandables" demo</a></li>
  </ul>

  <h2 class="heading-medium">Experiments</h2>
  <ul class="list list-bullet">
    <li><a href="/lateness/start">Late appeals</a></li>
    <li><a href="/confirmation_pay_fee/start">Confirmation and Pay Fee</a></li>
  </ul>

  <h2 class="heading-medium">Archived</h2>
  <ul class="list list-bullet">
  <li><a href="/_archive/before_you_start_2016-08-17/start">Before you start - 17/08/2016</a></li>
  </ul>

</main>

{% endblock %}


