{% extends "layout_unbranded.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block body_classes %}index clear-session{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Tax Tribunals Prototypes</h1>

  <div class="grid-row">

    <form class="js_route" action="/start">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Main application</h2>
        <p>Start at a mocked-up GOV.UK start page:</p>

        <fieldset>
          <label class="block-label">
            <input name="fees" type="radio" value="yes" data-store="fees=yes" />
            With Tribunal Fees
          </label>

          <label class="block-label">
            <input name="fees" type="radio" value="no" data-store="fees=no" checked="checked" />
            Fee-Free Service
          </label>

        </fieldset>

        <p>
          <input class="button" type="submit" value="Begin">
        </p>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium">Validation</h2>
        <p>Error messages for required fields</p>

        <fieldset>
          <label class="block-label">
            <input name="validation-radio" type="radio" value="on" data-store="validationOn=on" />
            On
          </label>

          <label class="block-label">
            <input name="validation-radio" type="radio" value="off" data-store="validationOn=off" />
            Off
          </label>
        </fieldset>
      </div>
    </form>
  </div>




  <h2 class="heading-medium">Demos</h2>
  <ul class="list list-bullet">
    <li><a href="/document_upload/document_upload">Document upload</a></li>
    <li><strong>GLiMR document downloads</strong>
      <ul class="list list-bullet">
        <li><a href="/glimr/index">MVP</a></li>
        <li><a href="/glimr/enhanced">Enhanced</a></li>
      </ul>
    </li>
  </ul>

</main>

{% endblock %}


