{% extends "layout.html" %}

{% block page_title %}
  What is your dispute about? - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="start.html">Back</a> &nbsp; Step X of Y</p>
      <h1 class="heading-large">You need to have applied to HMRC to appeal before you can appeal to the Tax Trinbunal </h1>

      <p class="lede">Information about HRMC appeal process</p>

      <form class="js_route" action="start">
        <fieldset>
          <!--div class="form-group">
            <label class="block-label">
              <input name="dispute_type" type="radio" value="yes" data-destination="lateness" />
              Yes
            </label>

            <label class="block-label">
              <input name="dispute_type" type="radio" value="no" data-destination="hmrc_review_no" data-store="" />
              No
            </label>

          </div-->
        </fieldset>

        <p>
          <input class="button" type="submit" value="Continue">
        </p>

      </form>

      <details>
        <summary>Help with types of appeal</summary>
        <div class="panel">
          <p>You can only choose one reason per appeal. For example if you wanted to appeal against both a penalty and the amount you owe, you will need to make two separate appeals to the tax tribunal.</p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


