{% extends "layout.html" %}

{% block page_title %}
  Task list demo - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script src="/public/javascripts/modules/task-list.js"></script>
  <script>
    moj.Modules.taskList.init();
    moj.Modules.dataStore.storeItem('mode', 'task_list');

    if(moj.Modules.dataStore.getItem('application_is_late') === 'no') {
      $('[data-task="check_if_late"]').text('IN TIME');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Appeal to an independent tax tribunal</h1>

      <p class="lede">Use this service to challenge decisions by HM Revenue and Customs (HMRC).</p>
      <p>The tribunal is independent of government and will listen to both sides of the argument before making a decision.</p>
      <p>For more information see the <a href="#" data-alert="This information is not available at this time.">guide to tax tribunals and fees</a>.</p>
      <p>You can make an appeal to the tax tribunal using the steps below.</p>

      <ol class="list list-number task-list" data-task-list>
        <li>
          <a href="/before_you_start/type_of_tax">Find out your fee</a>
          <span class="task-status" data-task="determine_fee">£<span data-key="fee">20</span></span>
        </li>
        <li>
          <a href="/before_you_start/hmrc_view">Check you're in time</a>
          <span class="task-status" data-task="check_if_late">LATE</span>
        </li>
        <li>
          <a href="/data_capture/appellant_details">Enter appeal details</a>
          <span class="task-status" data-task="enter_details">COMPLETED</span>
        </li>
        <li>
          <a href="/payment_tool/methods">Pay fee</a>
          <span class="task-status" data-task="pay_fee">COMPLETED</span>
        </li>
      </ol>

      <h2 class="heading-medium">Other ways to appeal</h2>
      <ul class="list list-bullet">
        <li>You can submit an appeal or application by <a class="external" rel="external" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForms.do?court_forms_category=Tax%20(First-tier%20Tribunal)">paper form</a></li>
        <li>
          Send by post to First-tier Tribunal (Tax Chamber), PO Box 16972, Birmingham, B16 6TZ
        </li>
      </ul>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Controls</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="start" class="reset-task-list">Reset task list</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}
