{% extends "layout.html" %}

{% block page_title %}
  Task list demo - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    moj.Modules.dataStore.storeItem('mode', 'task_list');
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form class="js_route" action="task-list">

        <h1 class="heading-large">GOV.UK - Appeal to an independent tax tribunal</h1>

        <p class="lede">Use this service to settle a tax dispute with HM Revenue and Customs (HMRC).</p>
        <p>The tribunal is <strong>independent of government</strong> and will listen to both sides of the argument before making a decision.</p>
        <p>For more information see the <a href="https://www.gov.uk/tax-tribunal/overview">guide to tax tribunals and fees</a>.</p>
        <p>Lorem ipsum...</p>

        <p>
          <input type="submit" class="button button-start" value="Start now">
        </p>

      </form>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">

        <h2 class="heading-medium">Courts, sentencing and tribunals</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
              <li><a href="https://www.gov.uk/court-fees-what-they-are">Court and tribunal fees</a></li>
              <li><a href="https://www.gov.uk/tax-tribunal">Appeal to a tax tribunal</a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/tax-appeals">Disagree with a tax decision</a></li>
            <li><a href="https://www.gov.uk/government/publications/tax-chamber-tribunal-procedure-rules">Tax tribunal procedure rules</a></li>
          </ul>
        </nav>

      </aside>
    </div>
  </div>
</main>

{% endblock %}
