{% extends "layout.html" %}

{% block page_title %}
  Task list - Tax Tribunals Prototype
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
    if(moj.Modules.dataStore.getItem('application_is_late') === 'no') {
      $('[data-task="check_if_late"]').text('IN TIME');
    } else if(moj.Modules.dataStore.getItem('application_is_late') === 'unknown') {
      $('[data-task="check_if_late"]').text('NOT SURE');
    }
  </script>
{% endblock %}

{% block content %}

<main id="content" role="main" class="task-list-home">

  {% include "includes/phase_banner_alpha.html" %}

  <header class="homepage-top">
    <div class="homepage-top-inner">
      <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>Get an impartial decision on your dispute</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">&nbsp</p>
      <p class="lede">Every appeal is overseen by a judge who is completely independent of government.</p>
      <p>Enter your details in one go following the steps below. Please note: you can't save and come back to make changes once you've started.</p>
      <ol class="list list-number task-list" data-task-list>
        <li>
          <a class="task-link" href="/before_you_start/start">Find out the cost of your appeal</a> 
          <p>Give details about your type of dispute and<br> find out your tax tribunal fees.</p>
          <p>(5 minutes to complete)</p>
          <span class="task-status" data-task="determine_fee">£<span data-key="fee">20</span></span>
          <a class="button button-start js-hidden" href="/before_you_start/start">Start</a>
        </li>
        <li>
          <a class="task-link" href="/lateness/start">Check you meet the tribunal deadline</a>
          <p>You can still submit your appeal late by<br> entering reasons for the judge to consider.</p>
          <p>(5 minutes to complete)</p>
          <span class="task-status" data-task="check_if_late">LATE</span>
          <a class="button button-start js-hidden" href="/lateness/start">Start</a>
        </li>
        <li>
          <a class="task-link" href="/data_capture/start">Enter appeal details and pay fee</a> 
          <p>Add your grounds of appeal, upload copies<br>  of any decision letters and pay your initial fee.</p>
          <p>(20 minutes to complete)</p>
          <span class="task-status" data-task="enter_details">COMPLETED</span>
          <a class="button button-start js-hidden" href="/data_capture/start">Start</a>
        </li>
      </ol>

      <h2 class="heading-medium">Paying for an existing appeal</h2>
      <p>If you have received a tribunal reference number and a confirmation code by email but still need to pay your fee, <a href="/payment_tool/case_requests">you can pay your tribunal fees online now</a>.</p>

    </div>

  </div>
</main>

{% endblock %}
