{% extends "layout.html" %}

{% set ptitle = "Email confirmation" %}

{% block page_title %}
  {{ ptitle }} - Tax Tribunals Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a class="link-back js-link-back" href="#">Back</a></p>
      <h1 class="heading-large">
        {{ ptitle }}
      </h1>

      <p class="lede">Please check your email.</p>
      <p>The information you have entered so far has been saved, and you can return to complete your application at any time.</p>
      <p>An email has been sent to <strong data-key="account_email">terry-example@example.com</strong> not your password obviously lorem ipsum login information etc etc etc</p>

      <br><br>
      <form class="js_route" action="/application_type">

        <p>
          <input class="button" type="submit" value="Back to service">
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}


